{% load static %}





    <div id="rec562857666" class="r t-rec t-rec_pt_75 t-rec_pb_90" style="padding-top:75px;padding-bottom:90px;background-color:#1c2424; " data-animationappear="off" data-record-type="420" data-bg-color="#1c2424">
        <!-- T420 -->
        <div class="t420">
            <div class="t-container t-align_left">
                <div class="t420__col t-col t-col_3"><a class="t420__logo-link" href="#rec562268330" style="color:#ffffff;font-size:20px;"><img class="t420__logo t-img" src="{% static 'fonts/photo_1.svg' %}" imgfield="img" style="max-width: 250px;" alt></a>
                    <div class="t-sociallinks">
                        <div class="t-sociallinks__wrapper">
                            <!-- new soclinks -->
                            <div class="t-sociallinks__item t-sociallinks__item_youtube"><a href="https://www.youtube.com/channel/UCv5YEIDtw0pxQOhE06LKAqg" target="_blank" rel="nofollow" style="width: 25px; height: 25px;"><svg class="t-sociallinks__svg" width="25px" height="25px" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M50 100c27.614 0 50-22.386 50-50S77.614 0 50 0 0 22.386 0 50s22.386 50 50 50Zm17.9-67.374c3.838.346 6 2.695 6.474 6.438.332 2.612.626 6.352.626 10.375 0 7.064-.626 11.148-.626 11.148-.588 3.728-2.39 5.752-6.18 6.18-4.235.48-13.76.7-17.992.7-4.38 0-13.237-.184-17.66-.552-3.8-.317-6.394-2.44-6.916-6.218-.38-2.752-.626-6.022-.626-11.222 0-5.788.209-8.238.7-10.853.699-3.732 2.48-5.54 6.548-5.96C36.516 32.221 40.55 32 49.577 32c4.413 0 13.927.228 18.322.626Zm-23.216 9.761v14.374L58.37 49.5l-13.686-7.114Z" fill="#4f5c5c"/></svg></a></div>
                            <div
                                class="t-sociallinks__item t-sociallinks__item_telegram"><a href="https://t.me/zabota_yogaclub" target="_blank" rel="nofollow" style="width: 25px; height: 25px;"><svg class="t-sociallinks__svg" width="25px" height="25px" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M50 100c27.614 0 50-22.386 50-50S77.614 0 50 0 0 22.386 0 50s22.386 50 50 50Zm21.977-68.056c.386-4.38-4.24-2.576-4.24-2.576-3.415 1.414-6.937 2.85-10.497 4.302-11.04 4.503-22.444 9.155-32.159 13.734-5.268 1.932-2.184 3.864-2.184 3.864l8.351 2.577c3.855 1.16 5.91-.129 5.91-.129l17.988-12.238c6.424-4.38 4.882-.773 3.34.773l-13.49 12.882c-2.056 1.804-1.028 3.35-.129 4.123 2.55 2.249 8.82 6.364 11.557 8.16.712.467 1.185.778 1.292.858.642.515 4.111 2.834 6.424 2.319 2.313-.516 2.57-3.479 2.57-3.479l3.083-20.226c.462-3.511.993-6.886 1.417-9.582.4-2.546.705-4.485.767-5.362Z" fill="#4f5c5c"/></svg></a></div>
                        <!-- /new soclinks -->
                    </div>
                </div>
            </div>
            <div class="t420__col t-col t-col_3">
                <div class="t420__descr t-descr t-descr_xxs" field="descr" style="color:#e3e3e3;font-size:12px;line-height:1.5;font-weight:600;"><span style="color: rgb(12, 36, 36);">ввв</span></div>
            </div>
            <div class="t420__floatbeaker_lr3"></div>
            <div>
                <div class="t420__col t-col t-col_3">
                    <div class="t420__title t-name t-name_xs " field="title2" style="color: #c9c9c9;color:#8a8a8a;font-size:16px;font-weight:600;">Данные</div>
                    <div class="t420__descr t-descr t-descr_xxs" field="descr2" style="color:#e3e3e3;font-size:12px;line-height:1.5;font-weight:600;">© Все права защищены<br>Политика конфиденциальности</div>
                </div>
                <div class="t420__col t-col t-col_3">
                    <div class="t420__title t-name t-name_xs " field="title3" style="color: #c9c9c9;color:#8a8a8a;font-size:16px;font-weight:600;">Контакты</div>
                    <div class="t420__descr t-descr t-descr_xxs" field="descr3" style="color:#e3e3e3;font-size:12px;line-height:1.5;font-weight:600;">Электронный адрес: ymclub@bk.ru<br>Служба заботы <a href="https://t.me/zabota_yogaclub" target="_blank" rel="noreferrer noopener" style="color: rgb(252, 252, 252); border-bottom: 1px solid rgb(255, 255, 255); box-shadow: none; text-decoration: none;">@zabota_yogaclub</a></div>
                </div>
            </div>
        </div>
    </div>
    </div>