{% load static %}


        <div id="rec564508995" class="r t-rec" style=" " data-animationappear="off" data-record-type="396">
            <!-- T396 -->
            <style>
                #rec564508995 .t396__artboard {
                    height: 830px;
                    background-image: linear-gradient(90deg, rgba(185, 163, 140, 1) 0%, rgba(168, 143, 120, 1) 100%);
                }

                #rec564508995 .t396__filter {
                    height: 830px;
                }

                #rec564508995 .t396__carrier {
                    height: 830px;
                    background-position: center center;
                    background-attachment: scroll;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                @media screen and (max-width: 1199px) {
                    #rec564508995 .t396__artboard {}
                    #rec564508995 .t396__filter {}
                    #rec564508995 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec564508995 .t396__artboard {}
                    #rec564508995 .t396__filter {}
                    #rec564508995 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec564508995 .t396__artboard {}
                    #rec564508995 .t396__filter {}
                    #rec564508995 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec564508995 .t396__artboard {
                        height: 700px;
                    }
                    #rec564508995 .t396__filter {
                        height: 700px;
                    }
                    #rec564508995 .t396__carrier {
                        height: 700px;
                        background-attachment: scroll;
                    }
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878899"] {
                    z-index: 1;
                    top: -715px;
                    left: calc(50% - 600px + 380px);
                    width: 200px;
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878899"] .tn-atom {
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {}

                @media screen and (max-width: 959px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878899"] {
                        top: -671px;
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878899"] {
                        top: -276px;
                        left: calc(50% - 160px + -44px);
                        width: 408px;
                    }
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878906"] {
                    z-index: 2;
                    top: -161pxpx;
                    left: calc(50% - 600px + -148pxpx);
                    width: 100px;
                    height: 1122px;
                    -webkit-filter: blur(37px);
                    filter: blur(37px);
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878906"] .tn-atom {
                    background-color: #b6a089;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {}

                @media screen and (max-width: 959px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878906"] {
                        top: -92px;
                        left: calc(50% - 320px + -38pxpx);
                        width: 723px;
                        height: 395px;
                        -webkit-filter: blur(26px);
                        filter: blur(26px);
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878906"] .tn-atom {
                        background-color: #aa937c;
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878906"] {
                        top: 287pxpx;
                        left: calc(50% - 240px + -1099pxpx);
                        width: 608px;
                        -webkit-filter: blur(11px);
                        filter: blur(11px);
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878906"] .tn-atom {
                        background-color: #aa937c;
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878906"] {
                        top: -326px;
                        left: calc(50% - 160px + -136px);
                        height: 412px;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878906"] .tn-atom {
                        background-color: #b69f8c;
                        background-attachment: scroll;
                    }
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878910"] {
                    z-index: 3;
                    top: -115px;
                    left: calc(50% - 600px + -100px);
                    width: 1400px;
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878910"] .tn-atom {
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878910"] {
                        top: 0px;
                        left: calc(50% - 480px + -263px);
                        width: 1486px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878910"] {
                        top: 76px;
                        left: calc(50% - 320px + -237px);
                        width: 1114px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878910"] {
                        top: 306px;
                        left: calc(50% - 240px + -178px);
                        width: 896px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878910"] {
                        top: 472px;
                        left: calc(50% - 160px + -1210px);
                        width: 605px;
                    }
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878914"] {
                    z-index: 4;
                    top: -316px;
                    left: calc(50% - 600px + 104px);
                    width: 100px;
                    height: 10px;
                    -webkit-filter: blur(16px);
                    filter: blur(16px);
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878914"] .tn-atom {
                    background-color: #b6a089;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {}

                @media screen and (max-width: 959px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878914"] {
                        top: 0px;
                        left: calc(50% - 320px + -456px);
                        width: 1606px;
                        height: 129px;
                        -webkit-filter: blur(26px);
                        filter: blur(26px);
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878914"] .tn-atom {
                        background-color: #aa937c;
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878914"] {
                        top: 277px;
                        left: calc(50% - 240px + -1109px);
                        width: 608px;
                        -webkit-filter: blur(11px);
                        filter: blur(11px);
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878914"] .tn-atom {
                        background-color: #aa937c;
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878914"] {
                        top: 581px;
                        left: calc(50% - 160px + -144px);
                        height: 162px;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878914"] .tn-atom {
                        background-color: #ae977e;
                        background-attachment: scroll;
                    }
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878917"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 5;
                    top: 300px;
                    left: calc(50% - 600px + 34px);
                    width: 578px;
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878917"] .tn-atom {
                    color: #ffffff;
                    font-size: 20px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 400;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878917"] {
                        top: 314px;
                        left: calc(50% - 480px + 10px);
                        width: 476px;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878917"] .tn-atom {
                        font-size: 20px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878917"] {
                        top: 282px;
                        left: calc(50% - 320px + 36px);
                        width: 510px;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878917"] .tn-atom {
                        font-size: 18px;
                        line-height: 1.4;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878917"] {
                        top: 310px;
                        left: calc(50% - 240px + 10px);
                        width: 421px;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878917"] .tn-atom {
                        font-size: 18px;
                        line-height: 1.9;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878917"] {
                        top: 433px;
                        left: calc(50% - 160px + 0px);
                        width: 321px;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878917"] {
                        text-align: center;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878917"] .tn-atom {
                        font-size: 16px;
                        line-height: 1.4;
                    }
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878920"] {
                    color: #ffffff;
                    text-align: center;
                    z-index: 6;
                    top: 303px;
                    left: calc(50% - 600px + 733px);
                    width: 171px;
                    height: 51px;
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878920"] .tn-atom {
                    color: #ffffff;
                    font-size: 14px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: NaN;
                    font-weight: 500;
                    letter-spacing: 0.2px;
                    border-width: 2px;
                    border-radius: 80px;
                    background-color: #ff9b81;
                    background-position: center center;
                    border-color: #ffffff;
                    border-style: solid;
                    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
                }

                @media screen and (max-width: 1199px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878920"] {
                        top: 331px;
                        left: calc(50% - 480px + 519px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878920"] {
                        top: 355px;
                        left: calc(50% - 320px + 32px);
                        width: 252px;
                        height: 56px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878920"] {
                        top: 443px;
                        left: calc(50% - 240px + 10px);
                        width: 460px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878920"] {
                        top: 516px;
                        left: calc(50% - 160px + 32px);
                        width: 256px;
                        height: 58px;
                    }
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878924"] {
                    color: #ffffff;
                    text-align: center;
                    z-index: 7;
                    top: 303px;
                    left: calc(50% - 600px + 917px);
                    width: 251px;
                    height: 51px;
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878924"] .tn-atom {
                    color: #ffffff;
                    font-size: 14px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1;
                    font-weight: 500;
                    letter-spacing: 0.2px;
                    border-width: 2px;
                    border-radius: 80px;
                    background-color: #b29980;
                    background-position: center center;
                    border-color: #ffffff;
                    border-style: solid;
                    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
                }

                @media screen and (max-width: 1199px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878924"] {
                        top: 331px;
                        left: calc(50% - 480px + 700px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878924"] {
                        top: 355px;
                        left: calc(50% - 320px + 300px);
                        width: 252px;
                        height: 56px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878924"] {
                        top: 504px;
                        left: calc(50% - 240px + 10px);
                        width: 460px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878924"] {
                        top: 587px;
                        left: calc(50% - 160px + 32px);
                        width: 256px;
                        height: 58px;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878924"] .tn-atom {
                        background-color: #998064;
                    }
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878927"] {
                    z-index: 8;
                    top: 390px;
                    left: calc(50% - 600px + -180px);
                    width: 1432px;
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878927"] .tn-atom {
                    opacity: 0.4;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {}

                @media screen and (max-width: 959px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878927"] {
                        top: 470px;
                        left: calc(50% - 320px + -350px);
                        width: 1227px;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878927"] .tn-atom {
                        opacity: 0.7;
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878927"] {
                        top: 32px;
                        left: calc(50% - 160px + -33px);
                        width: 660px;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878927"] .tn-atom {
                        opacity: 0.65;
                        -webkit-transform: rotate(228deg);
                        -moz-transform: rotate(228deg);
                        transform: rotate(228deg);
                    }
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878933"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 9;
                    top: 190px;
                    left: calc(50% - 600px + 34px);
                    width: 837px;
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878933"] .tn-atom {
                    color: #ffffff;
                    font-size: 64px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 600;
                    letter-spacing: 0.3px;
                    text-transform: uppercase;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {}

                @media screen and (max-width: 959px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878933"] {
                        top: 205px;
                        width: 621px;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878933"] .tn-atom {
                        font-size: 50px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878933"] {
                        top: 175px;
                        left: calc(50% - 240px + 11px);
                        width: 460px;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878933"] .tn-atom {
                        font-size: 45px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878933"] {
                        top: 144px;
                        left: calc(50% - 160px + 6px);
                        width: 299px;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878933"] {
                        text-align: left;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878933"] .tn-atom {
                        font-size: 44px;
                        line-height: 1.15;
                    }
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878935"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 10;
                    top: 100px;
                    left: calc(50% - 600px + 34px);
                    width: 441px;
                }

                #rec564508995 .tn-elem[data-elem-id="1679020878935"] .tn-atom {
                    color: #ffffff;
                    font-size: 64px;
                    font-family: 'PlayfairDisplay', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 600;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {}

                @media screen and (max-width: 959px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878935"] {
                        top: 141px;
                        left: calc(50% - 320px + 34px);
                        width: 610px;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878935"] .tn-atom {
                        font-size: 56px;
                        line-height: 1;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878935"] {
                        top: 111px;
                        left: calc(50% - 240px + 11px);
                        width: 461px;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878935"] .tn-atom {
                        font-size: 60px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec564508995 .tn-elem[data-elem-id="1679020878935"] {
                        top: 104px;
                        left: calc(50% - 160px + 10px);
                        width: 301px;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878935"] {
                        text-align: left;
                    }
                    #rec564508995 .tn-elem[data-elem-id="1679020878935"] .tn-atom {
                        font-size: 30px;
                    }
                }
            </style>
            <div class="t396">
                <div class="t396__artboard" data-artboard-recid="564508995" data-artboard-screens="320,480,640,960,1200" data-artboard-height="830" data-artboard-valign="center" data-artboard-upscale="grid" data-artboard-height-res-320="700">
                    <div class="t396__carrier" data-artboard-recid="564508995"></div>
                    <div class="t396__filter" data-artboard-recid="564508995"></div>
                    <div class="t396__elem tn-elem tn-elem__5645089951679020878899" data-elem-id="1679020878899" data-elem-type="image" data-field-top-value="-715" data-field-left-value="380" data-field-width-value="200" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-filewidth-value="1353" data-field-fileheight-value="2933"
                        data-field-top-res-320-value="-276" data-field-left-res-320-value="-44" data-field-width-res-320-value="408" data-field-top-res-640-value="-671">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% if settings == None %}{% static 'images/iPhone_114_Pro_-_1-R.png' %}{% else %}{% if settings.image_mob %}{{ settings.image_mob.url }}{% else %}{% static 'images/iPhone_114_Pro_-_1-R.png' %}{% endif %}{% endif %}" imgfield="tn_img_1679020878899"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5645089951679020878906" data-elem-id="1679020878906" data-elem-type="shape" data-field-top-value="-161px" data-field-left-value="-148px" data-field-height-value="1122" data-field-width-value="100"
                        data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="-326"
                        data-field-left-res-320-value="-136" data-field-height-res-320-value="412" data-field-top-res-480-value="287px" data-field-left-res-480-value="-1099px" data-field-width-res-480-value="608" data-field-top-res-640-value="-92" data-field-left-res-640-value="-38px"
                        data-field-height-res-640-value="395" data-field-width-res-640-value="723">
                        <div class="tn-atom"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5645089951679020878910" data-elem-id="1679020878910" data-elem-type="image" data-field-top-value="-115" data-field-left-value="-100" data-field-width-value="1400" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-filewidth-value="2339" data-field-fileheight-value="1585"
                        data-field-lazyoff-value="y" data-field-top-res-320-value="472" data-field-left-res-320-value="-1210" data-field-width-res-320-value="605" data-field-top-res-480-value="306" data-field-left-res-480-value="-178" data-field-width-res-480-value="896"
                        data-field-top-res-640-value="76" data-field-left-res-640-value="-237" data-field-width-res-640-value="1114" data-field-top-res-960-value="0" data-field-left-res-960-value="-263" data-field-width-res-960-value="1486">
                        <div class="tn-atom"><img class="tn-atom__img" src="{% if settings == None %}{% static 'images/Frame_55_1_1_1.png' %}{% else %}{% if settings.image %}{{ settings.image.url }}{%else%}{% static 'images/Frame_55_1_1_1.png' %}{% endif %}{% endif %}" imgfield="tn_img_1679020878910"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5645089951679020878914" data-elem-id="1679020878914" data-elem-type="shape" data-field-top-value="-316" data-field-left-value="104" data-field-height-value="10" data-field-width-value="100" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="581" data-field-left-res-320-value="-144"
                        data-field-height-res-320-value="162" data-field-top-res-480-value="277" data-field-left-res-480-value="-1109" data-field-width-res-480-value="608" data-field-top-res-640-value="0" data-field-left-res-640-value="-456" data-field-height-res-640-value="129"
                        data-field-width-res-640-value="1606">
                        <div class="tn-atom"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5645089951679020878917 t-animate" data-elem-id="1679020878917" data-elem-type="text" data-field-top-value="300" data-field-left-value="34" data-field-width-value="578" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="433" data-field-left-res-320-value="0" data-field-width-res-320-value="321" data-field-top-res-480-value="310" data-field-left-res-480-value="10" data-field-width-res-480-value="421"
                        data-field-top-res-640-value="282" data-field-left-res-640-value="36" data-field-width-res-640-value="510" data-field-top-res-960-value="314" data-field-left-res-960-value="10" data-field-width-res-960-value="476">
                        <div class="tn-atom" field="tn_text_1679020878917">{% if settings == None %}Йога и медитация,
                            как их преподают в Индии. Глубокие знания простым и современным языком
                        {% else %}{{ settings.description }}{% endif %}</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5645089951679020878920 t-animate" data-elem-id="1679020878920" data-elem-type="button" data-field-top-value="303" data-field-left-value="733" data-field-height-value="51" data-field-width-value="171"
                        data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value data-animate-style="fadeinup"
                        data-animate-duration="1" data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="516" data-field-left-res-320-value="32" data-field-height-res-320-value="58" data-field-width-res-320-value="256" data-field-top-res-480-value="443"
                        data-field-left-res-480-value="10" data-field-width-res-480-value="460" data-field-top-res-640-value="355" data-field-left-res-640-value="32" data-field-height-res-640-value="56" data-field-width-res-640-value="252" data-field-top-res-960-value="331"
                        data-field-left-res-960-value="519"><a class="tn-atom" href="#buy">{% if settings == None %}
                        Записаться{% else %}{{ settings.button1 }}{% endif %}</a></div>
                    <div class="t396__elem tn-elem tn-elem__5645089951679020878924 t-animate" data-elem-id="1679020878924" data-elem-type="button" data-field-top-value="303" data-field-left-value="917"
                        data-field-height-value="51" data-field-width-value="251" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value
                        data-field-widthunits-value data-animate-style="fadeinup" data-animate-duration="1" data-animate-delay="0.2" data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="587" data-field-left-res-320-value="32"
                        data-field-height-res-320-value="58" data-field-width-res-320-value="256" data-field-top-res-480-value="504" data-field-left-res-480-value="10" data-field-width-res-480-value="460" data-field-top-res-640-value="355" data-field-left-res-640-value="300"
                        data-field-height-res-640-value="56" data-field-width-res-640-value="252" data-field-top-res-960-value="331" data-field-left-res-960-value="700"><a class="tn-atom" href="#freeclass">{% if settings == None %}Попробовать бесплатно
                    {% else %}{{ settings.button2 }}{% endif %}</a></div>
                    <div class="t396__elem tn-elem tn-elem__5645089951679020878927" data-elem-id="1679020878927" data-elem-type="image" data-field-top-value="390" data-field-left-value="-180"
                        data-field-width-value="1432" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px"
                        data-field-filewidth-value="1680" data-field-fileheight-value="289" data-field-top-res-320-value="32" data-field-left-res-320-value="-33" data-field-width-res-320-value="660" data-field-top-res-640-value="470" data-field-left-res-640-value="-350"
                        data-field-width-res-640-value="1227">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% static 'images/Group_115_3.png' %}" imgfield="tn_img_1679020878927"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5645089951679020878933 t-animate" data-elem-id="1679020878933" data-elem-type="text" data-field-top-value="190" data-field-left-value="34" data-field-width-value="837" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinleft" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="144" data-field-left-res-320-value="6" data-field-width-res-320-value="299" data-field-top-res-480-value="175" data-field-left-res-480-value="11" data-field-width-res-480-value="460"
                        data-field-top-res-640-value="205" data-field-width-res-640-value="621">
                        <h1 class="tn-atom" field="tn_text_1679020878933">{% if settings == None %}йоги и медитации
                        {% else %}{{ settings.h1_2 }}{% endif %}</h1>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5645089951679020878935 t-animate" data-elem-id="1679020878935" data-elem-type="text" data-field-top-value="100" data-field-left-value="34" data-field-width-value="441" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinright" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="104" data-field-left-res-320-value="10" data-field-width-res-320-value="301" data-field-top-res-480-value="111" data-field-left-res-480-value="11" data-field-width-res-480-value="461"
                        data-field-top-res-640-value="141" data-field-left-res-640-value="34" data-field-width-res-640-value="610">
                        <h1 class="tn-atom" field="tn_text_1679020878935">{% if settings == None %}онлайн клуб{% else %}
                        {{ settings.h1_1 }}{% endif %}</h1>
                    </div>
                </div>
            </div>
            <script>
                t_onReady(function() {
                    t_onFuncLoad('t396_init', function() {
                        t396_init('564508995');
                    });
                });
            </script>
            <!-- /T396 -->
        </div>