{% load static %}


        <div id="rec562837650" class="r t-rec" style=" " data-animationappear="off" data-record-type="396">
            <!-- T396 -->
            <style>
                #rec562837650 .t396__artboard {
                    height: 163px;
                    background-color: #f7f7f5;
                }

                #rec562837650 .t396__filter {
                    height: 163px;
                }

                #rec562837650 .t396__carrier {
                    height: 163px;
                    background-position: center center;
                    background-attachment: scroll;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                @media screen and (max-width: 1199px) {
                    #rec562837650 .t396__artboard {}
                    #rec562837650 .t396__filter {}
                    #rec562837650 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562837650 .t396__artboard {}
                    #rec562837650 .t396__filter {}
                    #rec562837650 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562837650 .t396__artboard {}
                    #rec562837650 .t396__filter {}
                    #rec562837650 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562837650 .t396__artboard {
                        height: 203px;
                    }
                    #rec562837650 .t396__filter {
                        height: 203px;
                    }
                    #rec562837650 .t396__carrier {
                        height: 203px;
                        background-attachment: scroll;
                    }
                }

                #rec562837650 .tn-elem[data-elem-id="1678749077897"] {
                    color: #3c3c3c;
                    text-align: LEFT;
                    z-index: 1;
                    top: 50px;
                    left: calc(50% - 600px + 80px);
                    width: 245px;
                }

                #rec562837650 .tn-elem[data-elem-id="1678749077897"] .tn-atom {
                    color: #3c3c3c;
                    font-size: 46px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 900;
                    text-transform: uppercase;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {}

                @media screen and (max-width: 959px) {
                    #rec562837650 .tn-elem[data-elem-id="1678749077897"] {
                        left: calc(50% - 320px + 40px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562837650 .tn-elem[data-elem-id="1678749077897"] .tn-atom {
                        font-size: 35px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562837650 .tn-elem[data-elem-id="1678749077897"] {
                        left: calc(50% - 160px + 10px);
                    }
                    #rec562837650 .tn-elem[data-elem-id="1678749077897"] .tn-atom {
                        font-size: 36px;
                    }
                }

                #rec562837650 .tn-elem[data-elem-id="1678749077900"] {
                    z-index: 2;
                    top: 64px;
                    left: calc(50% - 600px + 1069px);
                    width: 38px;
                }

                #rec562837650 .tn-elem[data-elem-id="1678749077900"] .tn-atom {
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562837650 .tn-elem[data-elem-id="1678749077900"] {
                        top: 66px;
                        left: calc(50% - 480px + 918px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562837650 .tn-elem[data-elem-id="1678749077900"] {
                        top: 66px;
                        left: calc(50% - 320px + 548px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562837650 .tn-elem[data-elem-id="1678749077900"] {
                        top: 58px;
                        left: calc(50% - 240px + 430px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562837650 .tn-elem[data-elem-id="1678749077900"] {
                        top: 129px;
                        left: calc(50% - 160px + 68px);
                    }
                }

                #rec562837650 .tn-elem[data-elem-id="1678749077907"] {
                    z-index: 3;
                    top: 64px;
                    left: calc(50% - 600px + 981px);
                    width: 38px;
                }

                #rec562837650 .tn-elem[data-elem-id="1678749077907"] .tn-atom {
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562837650 .tn-elem[data-elem-id="1678749077907"] {
                        top: 66px;
                        left: calc(50% - 480px + 830px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562837650 .tn-elem[data-elem-id="1678749077907"] {
                        top: 66px;
                        left: calc(50% - 320px + 460px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562837650 .tn-elem[data-elem-id="1678749077907"] {
                        top: 58px;
                        left: calc(50% - 240px + 372px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562837650 .tn-elem[data-elem-id="1678749077907"] {
                        top: 129px;
                        left: calc(50% - 160px + 10px);
                    }
                }
            </style>
            <div class="t396">
                <div class="t396__artboard" data-artboard-recid="562837650" data-artboard-screens="320,480,640,960,1200" data-artboard-height="163" data-artboard-valign="center" data-artboard-upscale="window" data-artboard-height-res-320="203" data-artboard-upscale-res-320="grid">
                    <div class="t396__carrier" data-artboard-recid="562837650"></div>
                    <div class="t396__filter" data-artboard-recid="562837650"></div>
                    <div class="t396__elem tn-elem tn-elem__5628376501678749077897" data-elem-id="1678749077897" data-elem-type="text" data-field-top-value="50" data-field-left-value="80" data-field-width-value="245" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-left-res-320-value="10" data-field-left-res-640-value="40">
                        <div class="tn-atom" field="tn_text_1678749077897">Отзывы</div>
                    </div>
                    <div class="t396__elem tn-elem arrow-right tn-elem__5628376501678749077900" data-elem-id="1678749077900" data-elem-type="image" data-field-top-value="64" data-field-left-value="1069" data-field-width-value="38" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-filewidth-value="42" data-field-fileheight-value="35"
                        data-field-top-res-320-value="129" data-field-left-res-320-value="68" data-field-top-res-480-value="58" data-field-left-res-480-value="430" data-field-top-res-640-value="66" data-field-left-res-640-value="548" data-field-top-res-960-value="66"
                        data-field-left-res-960-value="918">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% static 'images/str.svg' %}" imgfield="tn_img_1678749077900"></div>
                    </div>
                    <div class="t396__elem tn-elem arrow-left tn-elem__5628376501678749077907" data-elem-id="1678749077907" data-elem-type="image" data-field-top-value="64" data-field-left-value="981" data-field-width-value="38" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-filewidth-value="42" data-field-fileheight-value="35"
                        data-field-top-res-320-value="129" data-field-left-res-320-value="10" data-field-top-res-480-value="58" data-field-left-res-480-value="372" data-field-top-res-640-value="66" data-field-left-res-640-value="460" data-field-top-res-960-value="66"
                        data-field-left-res-960-value="830">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% static 'images/strlft.svg' %}" imgfield="tn_img_1678749077907"></div>
                    </div>
                </div>
            </div>
            <script>
                t_onFuncLoad('t396_initialScale', function() {
                    t396_initialScale('562837650');
                });
                t_onReady(function() {
                    t_onFuncLoad('t396_init', function() {
                        t396_init('562837650');
                    });
                });
            </script>
            <!-- /T396 -->
        </div>
        <div id="rec562837987" class="r t-rec t-rec_pb_0" style="padding-bottom:0px; " data-animationappear="off" data-record-type="396">
            <!-- T396 -->
            <style>
                #rec562837987 .t396__artboard {
                    height: 360px;
                    background-color: #f7f7f5;
                    overflow: auto;
                }

                #rec562837987 .t396__filter {
                    height: 360px;
                }

                #rec562837987 .t396__carrier {
                    height: 360px;
                    background-position: center center;
                    background-attachment: scroll;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                @media screen and (max-width: 1199px) {
                    #rec562837987 .t396__artboard {
                        height: 300px;
                    }
                    #rec562837987 .t396__filter {
                        height: 300px;
                    }
                    #rec562837987 .t396__carrier {
                        height: 300px;
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562837987 .t396__artboard {}
                    #rec562837987 .t396__filter {}
                    #rec562837987 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562837987 .t396__artboard {}
                    #rec562837987 .t396__filter {}
                    #rec562837987 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562837987 .t396__artboard {}
                    #rec562837987 .t396__filter {}
                    #rec562837987 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                #rec562837987 .tn-elem[data-elem-id="1678749314972"] {
                    z-index: 3;
                    top: 19px;
                    left: calc(50% - 600px + 434px);
                    width: 325px;
                    height: 325px;
                }

                #rec562837987 .tn-elem[data-elem-id="1678749314972"] .tn-atom {
                    border-radius: 16px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562837987 .tn-elem[data-elem-id="1678749314972"] {
                        top: 1px;
                        left: calc(50% - 480px + 330px);
                        width: 300px;
                        height: 300px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562837987 .tn-elem[data-elem-id="1678749314972"] {
                        top: 1px;
                        left: calc(50% - 320px + 340px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562837987 .tn-elem[data-elem-id="1678749314972"] {
                        top: 0px;
                        left: calc(50% - 240px + 411px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562837987 .tn-elem[data-elem-id="1678749314972"] {
                        top: 1px;
                        left: calc(50% - 160px + 330px);
                    }
                }

                #rec562837987 .tn-elem[data-elem-id="1678749314988"] {
                    z-index: 5;
                    top: 19px;
                    left: calc(50% - 600px + 789px);
                    width: 325px;
                    height: 325px;
                }

                #rec562837987 .tn-elem[data-elem-id="1678749314988"] .tn-atom {
                    border-radius: 16px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562837987 .tn-elem[data-elem-id="1678749314988"] {
                        top: 1px;
                        left: calc(50% - 480px + 650px);
                        width: 300px;
                        height: 300px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562837987 .tn-elem[data-elem-id="1678749314988"] {
                        top: 1px;
                        left: calc(50% - 320px + 670px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562837987 .tn-elem[data-elem-id="1678749314988"] {
                        top: 0px;
                        left: calc(50% - 240px + 732px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562837987 .tn-elem[data-elem-id="1678749314988"] {
                        top: 1px;
                        left: calc(50% - 160px + 649px);
                    }
                }

                #rec562837987 .tn-elem[data-elem-id="1678749314960"] {
                    z-index: 1;
                    top: 19px;
                    left: calc(50% - 600px + 79px);
                    width: 325px;
                    height: 325px;
                }

                #rec562837987 .tn-elem[data-elem-id="1678749314960"] .tn-atom {
                    border-radius: 16px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562837987 .tn-elem[data-elem-id="1678749314960"] {
                        top: 1px;
                        left: calc(50% - 480px + 10px);
                        width: 300px;
                        height: 300px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562837987 .tn-elem[data-elem-id="1678749314960"] {
                        top: 1px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562837987 .tn-elem[data-elem-id="1678749314960"] {
                        top: 0px;
                        left: calc(50% - 240px + 90px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562837987 .tn-elem[data-elem-id="1678749314960"] {
                        top: 1px;
                        left: calc(50% - 160px + 11px);
                    }
                }

                #rec562837987 .tn-elem[data-elem-id="1679276075395"] {
                    z-index: 6;
                    top: 19px;
                    left: calc(50% - 600px + 1144px);
                    width: 325px;
                    height: 325px;
                }

                #rec562837987 .tn-elem[data-elem-id="1679276075395"] .tn-atom {
                    border-radius: 16px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562837987 .tn-elem[data-elem-id="1679276075395"] {
                        top: 1px;
                        left: calc(50% - 480px + 970px);
                        width: 300px;
                        height: 300px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562837987 .tn-elem[data-elem-id="1679276075395"] {
                        top: 1px;
                        left: calc(50% - 320px + 1000px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562837987 .tn-elem[data-elem-id="1679276075395"] {
                        top: 0px;
                        left: calc(50% - 240px + 1053px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562837987 .tn-elem[data-elem-id="1679276075395"] {
                        top: 1px;
                        left: calc(50% - 160px + 968px);
                    }
                }

                #rec562837987 .tn-elem[data-elem-id="1679276075403"] {
                    z-index: 7;
                    top: 19px;
                    left: calc(50% - 600px + 1499px);
                    width: 325px;
                    height: 325px;
                }

                #rec562837987 .tn-elem[data-elem-id="1679276075403"] .tn-atom {
                    border-radius: 16px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562837987 .tn-elem[data-elem-id="1679276075403"] {
                        top: 1px;
                        left: calc(50% - 480px + 1290px);
                        width: 300px;
                        height: 300px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562837987 .tn-elem[data-elem-id="1679276075403"] {
                        top: 1px;
                        left: calc(50% - 320px + 1330px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562837987 .tn-elem[data-elem-id="1679276075403"] {
                        top: 0px;
                        left: calc(50% - 240px + 1374px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562837987 .tn-elem[data-elem-id="1679276075403"] {
                        top: 1px;
                        left: calc(50% - 160px + 1287px);
                    }
                }

                #rec562837987 .tn-elem[data-elem-id="1679276075407"] {
                    z-index: 8;
                    top: 19px;
                    left: calc(50% - 600px + 1854px);
                    width: 325px;
                    height: 325px;
                }

                #rec562837987 .tn-elem[data-elem-id="1679276075407"] .tn-atom {
                    border-radius: 16px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562837987 .tn-elem[data-elem-id="1679276075407"] {
                        top: 1px;
                        left: calc(50% - 480px + 1610px);
                        width: 300px;
                        height: 300px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562837987 .tn-elem[data-elem-id="1679276075407"] {
                        top: 1px;
                        left: calc(50% - 320px + 1660px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562837987 .tn-elem[data-elem-id="1679276075407"] {
                        top: 0px;
                        left: calc(50% - 240px + 1695px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562837987 .tn-elem[data-elem-id="1679276075407"] {
                        top: 1px;
                        left: calc(50% - 160px + 1606px);
                    }
                }

                #rec562837987 .tn-elem[data-elem-id="1679277040508"] {
                    z-index: 9;
                    top: 19px;
                    left: calc(50% - 600px + 2209px);
                    width: 325px;
                    height: 325px;
                }

                #rec562837987 .tn-elem[data-elem-id="1679277040508"] .tn-atom {
                    border-radius: 16px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562837987 .tn-elem[data-elem-id="1679277040508"] {
                        top: 1px;
                        left: calc(50% - 480px + 1930px);
                        width: 300px;
                        height: 300px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562837987 .tn-elem[data-elem-id="1679277040508"] {
                        top: 1px;
                        left: calc(50% - 320px + 1990px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562837987 .tn-elem[data-elem-id="1679277040508"] {
                        top: 0px;
                        left: calc(50% - 240px + 2016px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562837987 .tn-elem[data-elem-id="1679277040508"] {
                        top: 1px;
                        left: calc(50% - 160px + 1925px);
                    }
                }

                #rec562837987 .tn-elem[data-elem-id="1679277040515"] {
                    z-index: 10;
                    top: 19px;
                    left: calc(50% - 600px + 2564px);
                    width: 325px;
                    height: 325px;
                }

                #rec562837987 .tn-elem[data-elem-id="1679277040515"] .tn-atom {
                    border-radius: 16px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562837987 .tn-elem[data-elem-id="1679277040515"] {
                        top: 1px;
                        left: calc(50% - 480px + 2250px);
                        width: 300px;
                        height: 300px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562837987 .tn-elem[data-elem-id="1679277040515"] {
                        top: 1px;
                        left: calc(50% - 320px + 2320px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562837987 .tn-elem[data-elem-id="1679277040515"] {
                        top: 0px;
                        left: calc(50% - 240px + 2337px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562837987 .tn-elem[data-elem-id="1679277040515"] {
                        top: 1px;
                        left: calc(50% - 160px + 2244px);
                    }
                }
            </style>
            <div class="t396">
                <div class="t396__artboard" data-artboard-recid="562837987" data-artboard-screens="320,480,640,960,1200" data-artboard-height="360" data-artboard-valign="center" data-artboard-upscale="window" data-artboard-ovrflw="auto" data-artboard-upscale-res-320="grid"
                    data-artboard-height-res-960="300">
                    <div class="t396__carrier" data-artboard-recid="562837987"></div>
                    <div class="t396__filter" data-artboard-recid="562837987"></div>
                    <div class="t396__elem tn-elem tn-elem__5628379871678749314972" data-elem-id="1678749314972" data-elem-type="shape" data-field-top-value="19" data-field-left-value="434" data-field-height-value="325" data-field-width-value="325"
                        data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="1"
                        data-field-left-res-320-value="330" data-field-top-res-480-value="0" data-field-left-res-480-value="411" data-field-top-res-640-value="1" data-field-left-res-640-value="340" data-field-top-res-960-value="1" data-field-left-res-960-value="330"
                        data-field-height-res-960-value="300" data-field-width-res-960-value="300">
                        <div class="tn-atom t-bgimg" data-original="https://static.tildacdn.com/tild3366-3666-4336-a633-616437346565/Frame_52_1.png" style="background-image:url(&#x27;images/Frame_52_1.png&#x27;);" data-zoomable="yes" data-img-zoom-url="https://static.tildacdn.com/tild3366-3666-4336-a633-616437346565/Frame_52_1.png"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5628379871678749314988" data-elem-id="1678749314988" data-elem-type="shape" data-field-top-value="19" data-field-left-value="789" data-field-height-value="325" data-field-width-value="325" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="1" data-field-left-res-320-value="649"
                        data-field-top-res-480-value="0" data-field-left-res-480-value="732" data-field-top-res-640-value="1" data-field-left-res-640-value="670" data-field-top-res-960-value="1" data-field-left-res-960-value="650" data-field-height-res-960-value="300"
                        data-field-width-res-960-value="300">
                        <div class="tn-atom t-bgimg" data-original="https://static.tildacdn.com/tild3961-3266-4232-a132-613963396137/Frame_53_1.png" style="background-image:url(&#x27;images/Frame_53_1.png&#x27;);" data-zoomable="yes" data-img-zoom-url="https://static.tildacdn.com/tild3961-3266-4232-a132-613963396137/Frame_53_1.png"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5628379871678749314960" data-elem-id="1678749314960" data-elem-type="shape" data-field-top-value="19" data-field-left-value="79" data-field-height-value="325" data-field-width-value="325" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="1" data-field-left-res-320-value="11"
                        data-field-top-res-480-value="0" data-field-left-res-480-value="90" data-field-top-res-640-value="1" data-field-top-res-960-value="1" data-field-left-res-960-value="10" data-field-height-res-960-value="300" data-field-width-res-960-value="300">
                        <div class="tn-atom t-bgimg" data-original="https://static.tildacdn.com/tild3337-6633-4839-b736-383337653235/Frame_51_1.png" style="background-image:url(&#x27;images/Frame_51_1.png&#x27;);" data-zoomable="yes" data-img-zoom-url="https://static.tildacdn.com/tild3337-6633-4839-b736-383337653235/Frame_51_1.png"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5628379871679276075395" data-elem-id="1679276075395" data-elem-type="shape" data-field-top-value="19" data-field-left-value="1144" data-field-height-value="325" data-field-width-value="325" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="1" data-field-left-res-320-value="968"
                        data-field-top-res-480-value="0" data-field-left-res-480-value="1053" data-field-top-res-640-value="1" data-field-left-res-640-value="1000" data-field-top-res-960-value="1" data-field-left-res-960-value="970" data-field-height-res-960-value="300"
                        data-field-width-res-960-value="300">
                        <div class="tn-atom t-bgimg" data-original="https://static.tildacdn.com/tild3962-3265-4963-b366-323961613164/Frame_54_2_1.png" style="background-image:url(&#x27;images/Frame_54_2_1.png&#x27;);" data-zoomable="yes" data-img-zoom-url="https://static.tildacdn.com/tild3962-3265-4963-b366-323961613164/Frame_54_2_1.png"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5628379871679276075403" data-elem-id="1679276075403" data-elem-type="shape" data-field-top-value="19" data-field-left-value="1499" data-field-height-value="325" data-field-width-value="325" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="1" data-field-left-res-320-value="1287"
                        data-field-top-res-480-value="0" data-field-left-res-480-value="1374" data-field-top-res-640-value="1" data-field-left-res-640-value="1330" data-field-top-res-960-value="1" data-field-left-res-960-value="1290" data-field-height-res-960-value="300"
                        data-field-width-res-960-value="300">
                        <div class="tn-atom t-bgimg" data-original="{% static 'images/Frame_55_1_1.png' %}" style="background-image:url(&#x27;images/Frame_55_1_1.png&#x27;);" data-zoomable="yes" data-img-zoom-url="{% static 'images/Frame_55_1_1.png' %}"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5628379871679276075407" data-elem-id="1679276075407" data-elem-type="shape" data-field-top-value="19" data-field-left-value="1854" data-field-height-value="325" data-field-width-value="325" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="1" data-field-left-res-320-value="1606"
                        data-field-top-res-480-value="0" data-field-left-res-480-value="1695" data-field-top-res-640-value="1" data-field-left-res-640-value="1660" data-field-top-res-960-value="1" data-field-left-res-960-value="1610" data-field-height-res-960-value="300"
                        data-field-width-res-960-value="300">
                        <div class="tn-atom t-bgimg" data-original="https://static.tildacdn.com/tild6561-6162-4235-b339-656364323438/Frame_56_1.png" style="background-image:url(&#x27;images/Frame_56_1.png&#x27;);" data-zoomable="yes" data-img-zoom-url="https://static.tildacdn.com/tild6561-6162-4235-b339-656364323438/Frame_56_1.png"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5628379871679277040508" data-elem-id="1679277040508" data-elem-type="shape" data-field-top-value="19" data-field-left-value="2209" data-field-height-value="325" data-field-width-value="325" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="1" data-field-left-res-320-value="1925"
                        data-field-top-res-480-value="0" data-field-left-res-480-value="2016" data-field-top-res-640-value="1" data-field-left-res-640-value="1990" data-field-top-res-960-value="1" data-field-left-res-960-value="1930" data-field-height-res-960-value="300"
                        data-field-width-res-960-value="300">
                        <div class="tn-atom t-bgimg" data-original="https://static.tildacdn.com/tild3734-6138-4164-a663-653863393030/Frame_57_1.png" style="background-image:url(&#x27;images/Frame_57_1.png&#x27;);" data-zoomable="yes" data-img-zoom-url="https://static.tildacdn.com/tild3734-6138-4164-a663-653863393030/Frame_57_1.png"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5628379871679277040515" data-elem-id="1679277040515" data-elem-type="shape" data-field-top-value="19" data-field-left-value="2564" data-field-height-value="325" data-field-width-value="325" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="1" data-field-left-res-320-value="2244"
                        data-field-top-res-480-value="0" data-field-left-res-480-value="2337" data-field-top-res-640-value="1" data-field-left-res-640-value="2320" data-field-top-res-960-value="1" data-field-left-res-960-value="2250" data-field-height-res-960-value="300"
                        data-field-width-res-960-value="300">
                        <div class="tn-atom t-bgimg" data-original="https://static.tildacdn.com/tild6336-3337-4162-b265-613738383562/Frame_58_1.png" style="background-image:url(&#x27;images/Frame_58_1.png&#x27;);" data-zoomable="yes" data-img-zoom-url="https://static.tildacdn.com/tild6336-3337-4162-b265-613738383562/Frame_58_1.png"></div>
                    </div>
                </div>
            </div>
            <script>
                t_onFuncLoad('t396_initialScale', function() {
                    t396_initialScale('562837987');
                });
                t_onReady(function() {
                    t_onFuncLoad('t396_init', function() {
                        t396_init('562837987');
                    });
                });
            </script>
            <!-- /T396 -->
        </div>
        <div id="rec562851675" class="r t-rec" style=" " data-animationappear="off" data-record-type="131">
            <!-- T123 -->
            <div class="t123">
                <div class="t-container_100 ">
                    <div class="t-width t-width_100 ">

                        <!--https://romanyu.ru/skroll-strelki-->
                        <script src="{% static 'js/scrollbooster.min.js' %}" defer></script>

                        <script>
                            $(function() {

                                // Укажи ID Zero блока cо скроллом и включи overflow: auto
                                var blockScrollId = '#rec562837987';

                                // Укажи ID Zero блока cо стрелками и добавь каждой класс arrow-left или arrow-right
                                var blockArrowsId = '#rec562837650';

                                var shiftSize;
                                $(window).on('load resize', function() {

                                    if (window.matchMedia('(max-width: 480px)').matches) {
                                        // Укажи величину сдвига при клике на стрелку для разрешения 320-480px
                                        shiftSize = '320px';
                                    } else if (window.matchMedia('(max-width: 640px)').matches) {
                                        // Укажи величину сдвига при клике на стрелку для разрешения 481-640px
                                        shiftSize = '320px';
                                    } else if (window.matchMedia('(max-width: 960px)').matches) {
                                        // Укажи величину сдвига при клике на стрелку для разрешения 641-960px
                                        shiftSize = '320px';
                                    } else if (window.matchMedia('(max-width: 1200px)').matches) {
                                        // Укажи величину сдвига при клике на стрелку для разрешения 961-1200px
                                        shiftSize = '320px';
                                    } else {
                                        // Укажи величину сдвига при клике на стрелку для разрешения больше 1200px
                                        shiftSize = '320px';
                                    }

                                });


                                $(blockScrollId + ' .t396__artboard').addClass('scrollbooster-viewport').wrapInner('<div class="scrollbooster-content"></div>');
                                $(blockScrollId + ' .t396').css('overflow', 'hidden');

                                new ScrollBooster({
                                    viewport: $(blockScrollId + ' .scrollbooster-viewport')[0],
                                    content: $(blockScrollId + ' .scrollbooster-content')[0],
                                    scrollMode: 'native',
                                    pointerMode: 'mouse',
                                    bounce: false,
                                    onPointerDown: function() {
                                        $(blockScrollId + ' *:focus').blur()
                                    }
                                });

                                $(blockArrowsId + ' .arrow-left').on('click', function(e) {
                                    e.preventDefault();
                                    $(blockScrollId + ' .t396__artboard').animate({
                                        scrollLeft: '-=' + shiftSize
                                    }, 300);
                                });

                                $(blockArrowsId + ' .arrow-right').on('click', function(e) {
                                    e.preventDefault();
                                    $(blockScrollId + ' .t396__artboard').animate({
                                        scrollLeft: '+=' + shiftSize
                                    }, 300);
                                });

                            });
                        </script>

                        <style>
                            .scrollbooster-viewport {
                                cursor: -webkit-grab;
                                cursor: grab;
                                padding-bottom: 30px;
                                margin-bottom: -30px;
                            }

                            .scrollbooster-viewport:active {
                                cursor: -webkit-grabbing;
                                cursor: grabbing;
                            }

                            .scrollbooster-content {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                            }

                            .arrow-left,
                            .arrow-right {
                                cursor: pointer;
                            }
                        </style>


                    </div>
                </div>
            </div>
        </div>
        <div id="rec565191740" class="r t-rec" style=" " data-record-type="215"><a name="freeclass" style="font-size:0;"></a></div>
