{% load static %}


<div id="rec562847023" class="r t-rec" style=" " data-animationappear="off" data-record-type="396">
            <!-- T396 -->
            <style>
                #rec562847023 .t396__artboard {
                    height: 579px;
                    background-color: #f7f7f5;
                    overflow: visible;
                }

                #rec562847023 .t396__filter {
                    height: 579px;
                }

                #rec562847023 .t396__carrier {
                    height: 579px;
                    background-position: center center;
                    background-attachment: scroll;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                @media screen and (max-width: 1199px) {
                    #rec562847023 .t396__artboard {
                        height: 1179px;
                    }
                    #rec562847023 .t396__filter {
                        height: 1179px;
                    }
                    #rec562847023 .t396__carrier {
                        height: 1179px;
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562847023 .t396__artboard {
                        height: 909px;
                    }
                    #rec562847023 .t396__filter {
                        height: 909px;
                    }
                    #rec562847023 .t396__carrier {
                        height: 909px;
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562847023 .t396__artboard {
                        height: 939px;
                    }
                    #rec562847023 .t396__filter {
                        height: 939px;
                    }
                    #rec562847023 .t396__carrier {
                        height: 939px;
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562847023 .t396__artboard {
                        height: 689px;
                    }
                    #rec562847023 .t396__filter {
                        height: 689px;
                    }
                    #rec562847023 .t396__carrier {
                        height: 689px;
                        background-attachment: scroll;
                    }
                }

                #rec562847023 .tn-elem[data-elem-id="1678755642704"] {
                    z-index: 6;
                    top: 73px;
                    left: calc(50% - 600px + 77px);
                    width: 1047px;
                    height: 449px;
                }

                #rec562847023 .tn-elem[data-elem-id="1678755642704"] .tn-atom {
                    border-radius: 15px;
                    background-color: #ffffff;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642704"] {
                        top: 704px;
                        left: calc(50% - 480px + 110px);
                        width: 740px;
                        height: 420px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642704"] {
                        top: 63px;
                        left: calc(50% - 320px + 15px);
                        width: 611px;
                        height: 803px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642704"] {
                        top: 427px;
                        left: calc(50% - 240px + 15px);
                        width: 450px;
                        height: 457px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642704"] {
                        top: 48px;
                        left: calc(50% - 160px + -18px);
                        width: 357px;
                        height: 582px;
                    }
                }

                #rec562847023 .tn-elem[data-elem-id="1678755642735"] {
                    z-index: 8;
                    top: 113px;
                    left: calc(50% - 600px + 131px);
                    width: 352px;
                    height: 364px;
                }

                #rec562847023 .tn-elem[data-elem-id="1678755642735"] .tn-atom {
                    border-radius: 15px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642735"] {
                        top: 70px;
                        left: calc(50% - 480px + 110px);
                        width: 740px;
                        height: 740px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642735"] {
                        top: 89px;
                        left: calc(50% - 320px + 44px);
                        width: 553px;
                        height: 413px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642735"] {
                        top: 60px;
                        left: calc(50% - 240px + 15px);
                        width: 450px;
                        height: 452px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642735"] {
                        top: 72px;
                        left: calc(50% - 160px + 19px);
                        width: 283px;
                        height: 208px;
                    }
                }

                #rec562847023 .tn-elem[data-elem-id="1678755642711"] {
                    color: #1d1e18;
                    text-align: LEFT;
                    z-index: 12;
                    top: 250px;
                    left: calc(50% - 600px + 828px);
                    width: 236px;
                }

                #rec562847023 .tn-elem[data-elem-id="1678755642711"] .tn-atom {
                    color: #1d1e18;
                    font-size: 36px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 700;
                    text-transform: uppercase;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642711"] {
                        top: 906px;
                        left: calc(50% - 480px + 493px);
                        width: 261px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642711"] {
                        top: 619px;
                        left: calc(50% - 320px + 349px);
                    }
                    #rec562847023 .tn-elem[data-elem-id="1678755642711"] .tn-atom {
                        font-size: 34px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642711"] {
                        top: 661px;
                        left: calc(50% - 240px + 45px);
                    }
                    #rec562847023 .tn-elem[data-elem-id="1678755642711"] .tn-atom {
                        font-size: 30px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642711"] {
                        top: 407px;
                        left: calc(50% - 160px + 20px);
                        width: 219px;
                    }
                    #rec562847023 .tn-elem[data-elem-id="1678755642711"] .tn-atom {
                        font-size: 25px;
                    }
                }

                #rec562847023 .tn-elem[data-elem-id="1678755642717"] {
                    color: #757869;
                    text-align: LEFT;
                    z-index: 11;
                    top: 315px;
                    left: calc(50% - 600px + 521px);
                    width: 459px;
                }

                #rec562847023 .tn-elem[data-elem-id="1678755642717"] .tn-atom {
                    color: #757869;
                    font-size: 20px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 400;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642717"] {
                        top: 965px;
                        left: calc(50% - 480px + 150px);
                        width: 641px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642717"] {
                        top: 678px;
                        left: calc(50% - 320px + 42px);
                        width: 426px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642717"] {
                        top: 711px;
                        left: calc(50% - 240px + 45px);
                        width: 343px;
                    }
                    #rec562847023 .tn-elem[data-elem-id="1678755642717"] .tn-atom {
                        font-size: 18px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642717"] {
                        top: 451px;
                        left: calc(50% - 160px + 20px);
                        width: 265px;
                    }
                }

                #rec562847023 .tn-elem[data-elem-id="1678755642713"] {
                    color: #26aa5b;
                    text-align: LEFT;
                    z-index: 10;
                    top: 236px;
                    left: calc(50% - 600px + 521px);
                    width: 255px;
                }

                #rec562847023 .tn-elem[data-elem-id="1678755642713"] .tn-atom {
                    color: #26aa5b;
                    font-size: 46px;
                    font-family: 'PlayfairDisplay', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 600;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642713"] {
                        top: 887px;
                        left: calc(50% - 480px + 148px);
                    }
                    #rec562847023 .tn-elem[data-elem-id="1678755642713"] .tn-atom {
                        font-size: 52px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642713"] {
                        top: 604px;
                        left: calc(50% - 320px + 40px);
                    }
                    #rec562847023 .tn-elem[data-elem-id="1678755642713"] .tn-atom {
                        font-size: 46px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642713"] {
                        top: 613px;
                        left: calc(50% - 240px + 45px);
                    }
                    #rec562847023 .tn-elem[data-elem-id="1678755642713"] .tn-atom {
                        font-size: 38px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562847023 .tn-elem[data-elem-id="1678755642713"] {
                        top: 363px;
                        left: calc(50% - 160px + 20px);
                    }
                    #rec562847023 .tn-elem[data-elem-id="1678755642713"] .tn-atom {
                        font-size: 32px;
                    }
                }

                #rec562847023 .tn-elem[data-elem-id="1678761038394"] {
                    color: #1d1e18;
                    text-align: LEFT;
                    z-index: 7;
                    top: 151px;
                    left: calc(50% - 600px + 521px);
                    width: 501px;
                }

                #rec562847023 .tn-elem[data-elem-id="1678761038394"] .tn-atom {
                    color: #1d1e18;
                    font-size: 36px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 700;
                    text-transform: uppercase;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562847023 .tn-elem[data-elem-id="1678761038394"] {
                        top: 850px;
                        left: calc(50% - 480px + 150px);
                        width: 653px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562847023 .tn-elem[data-elem-id="1678761038394"] {
                        top: 528px;
                        left: calc(50% - 320px + 42px);
                        width: 527px;
                    }
                    #rec562847023 .tn-elem[data-elem-id="1678761038394"] .tn-atom {
                        font-size: 34px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562847023 .tn-elem[data-elem-id="1678761038394"] {
                        top: 542px;
                        left: calc(50% - 240px + 45px);
                        width: 328px;
                    }
                    #rec562847023 .tn-elem[data-elem-id="1678761038394"] .tn-atom {
                        font-size: 30px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562847023 .tn-elem[data-elem-id="1678761038394"] {
                        top: 297px;
                        left: calc(50% - 160px + 20px);
                        width: 275px;
                    }
                    #rec562847023 .tn-elem[data-elem-id="1678761038394"] .tn-atom {
                        font-size: 25px;
                        line-height: 1.5;
                    }
                }

                #rec562847023 .tn-elem[data-elem-id="1679021602072"] {
                    color: #ffffff;
                    text-align: center;
                    z-index: 13;
                    top: 392px;
                    left: calc(50% - 600px + 519px);
                    width: 260px;
                    height: 59px;
                }

                #rec562847023 .tn-elem[data-elem-id="1679021602072"] .tn-atom {
                    color: #ffffff;
                    font-size: 14px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: NaN;
                    font-weight: 600;
                    border-width: 1px;
                    border-radius: 80px;
                    background-color: #f48f75;
                    background-position: center center;
                    border-color: #ffb6a3;
                    border-style: solid;
                    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
                }

                @media (hover),
                (min-width:0\0) {
                    #rec562847023 .tn-elem[data-elem-id="1679021602072"] .tn-atom:hover {
                        background-color: #e67553;
                        background-image: none;
                    }
                }

                @media screen and (max-width: 1199px) {
                    #rec562847023 .tn-elem[data-elem-id="1679021602072"] {
                        top: 1017px;
                        left: calc(50% - 480px + 150px);
                        width: 270px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562847023 .tn-elem[data-elem-id="1679021602072"] {
                        top: 756px;
                        left: calc(50% - 320px + 40px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562847023 .tn-elem[data-elem-id="1679021602072"] {
                        top: 779px;
                        left: calc(50% - 240px + 41px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562847023 .tn-elem[data-elem-id="1679021602072"] {
                        top: 524px;
                        left: calc(50% - 160px + 20px);
                        width: 280px;
                    }
                }

                #rec562847023 .tn-elem[data-elem-id="1679022360671"] {
                    z-index: 1;
                    top: 60px;
                    left: calc(50% - 600px + -380px);
                    width: 200px;
                }

                #rec562847023 .tn-elem[data-elem-id="1679022360671"] .tn-atom {
                    opacity: 0;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {}

                @media screen and (max-width: 959px) {
                    #rec562847023 .tn-elem[data-elem-id="1679022360671"] {
                        top: 99px;
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {
                    #rec562847023 .tn-elem[data-elem-id="1679022360671"] {
                        top: 595px;
                        left: calc(50% - 160px + 120px);
                        width: 253px;
                    }
                    #rec562847023 .tn-elem[data-elem-id="1679022360671"] .tn-atom {
                        opacity: 1;
                        -webkit-transform: rotate(201deg);
                        -moz-transform: rotate(201deg);
                        transform: rotate(201deg);
                    }
                }
            </style>
            <div class="t396">
                <div class="t396__artboard" data-artboard-recid="562847023" data-artboard-screens="320,480,640,960,1200" data-artboard-height="579" data-artboard-valign="center" data-artboard-upscale="grid" data-artboard-ovrflw="visible" data-artboard-height-res-320="689"
                    data-artboard-height-res-480="939" data-artboard-height-res-640="909" data-artboard-height-res-960="1179">
                    <div class="t396__carrier" data-artboard-recid="562847023"></div>
                    <div class="t396__filter" data-artboard-recid="562847023"></div>
                    <div class="t396__elem tn-elem tn-elem__5628470231678755642704" data-elem-id="1678755642704" data-elem-type="shape" data-field-top-value="73" data-field-left-value="77" data-field-height-value="449" data-field-width-value="1047"
                        data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="48"
                        data-field-left-res-320-value="-18" data-field-height-res-320-value="582" data-field-width-res-320-value="357" data-field-top-res-480-value="427" data-field-left-res-480-value="15" data-field-height-res-480-value="457" data-field-width-res-480-value="450"
                        data-field-top-res-640-value="63" data-field-left-res-640-value="15" data-field-height-res-640-value="803" data-field-width-res-640-value="611" data-field-top-res-960-value="704" data-field-left-res-960-value="110" data-field-height-res-960-value="420"
                        data-field-width-res-960-value="740">
                        <div class="tn-atom"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5628470231678755642735" data-elem-id="1678755642735" data-elem-type="shape" data-field-top-value="113" data-field-left-value="131" data-field-height-value="364" data-field-width-value="352" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="72" data-field-left-res-320-value="19"
                        data-field-height-res-320-value="208" data-field-width-res-320-value="283" data-field-top-res-480-value="60" data-field-left-res-480-value="15" data-field-height-res-480-value="452" data-field-width-res-480-value="450" data-field-top-res-640-value="89"
                        data-field-left-res-640-value="44" data-field-height-res-640-value="413" data-field-width-res-640-value="553" data-field-top-res-960-value="70" data-field-left-res-960-value="110" data-field-height-res-960-value="740" data-field-width-res-960-value="740">
                        <div class="tn-atom t-bgimg" data-original="{% if leads == None %}
                        {% static 'images/AirBrush_20210902161.png' %}{% else %}
                            {% if leads.image %}{{ leads.image }}{% else %}
                            {% static 'images/AirBrush_20210902161.png' %}
                            {% endif %}{% endif %}" style="background-image:url(&#x27;{% if leads == None %}
                        {% static 'images/AirBrush_20210902161.png' %}{% else %}
                            {% if leads.image %}{{ leads.image }}{% else %}
                            {% static 'images/AirBrush_20210902161.png' %}
                            {% endif %}{% endif %}&#x27;);"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5628470231678755642711" data-elem-id="1678755642711" data-elem-type="text" data-field-top-value="250" data-field-left-value="828" data-field-width-value="236" data-field-axisy-value="top" data-field-axisx-value="left"
                        data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-top-res-320-value="407" data-field-left-res-320-value="20" data-field-width-res-320-value="219"
                        data-field-top-res-480-value="661" data-field-left-res-480-value="45" data-field-top-res-640-value="619" data-field-left-res-640-value="349" data-field-top-res-960-value="906" data-field-left-res-960-value="493" data-field-width-res-960-value="261">
                        <div class="tn-atom" field="tn_text_1678755642711">{% if leads == None %}
                            интенсив{% else %}
                            {% if leads.title1_1 %}{% if leads.title1_4 %}
                            {{ leads.title1_4 }}{% endif %}{% endif %}
                            {% endif %}</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5628470231678755642717 t-animate" data-elem-id="1678755642717" data-elem-type="text" data-field-top-value="315" data-field-left-value="521" data-field-width-value="459" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinleft" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="451" data-field-left-res-320-value="20" data-field-width-res-320-value="265" data-field-top-res-480-value="711" data-field-left-res-480-value="45" data-field-width-res-480-value="343"
                        data-field-top-res-640-value="678" data-field-left-res-640-value="42" data-field-width-res-640-value="426" data-field-top-res-960-value="965" data-field-left-res-960-value="150" data-field-width-res-960-value="641">
                        <div class="tn-atom" field="tn_text_1678755642717">
                            {% if leads == None %}
                            Уроки по 10 минут помогут вам погрузиться в мир йоги{% else %}
                            {% if leads.title2 %}
                            {{ leads.title2 }}{% else %}Уроки по 10 минут помогут вам погрузиться в мир йоги{% endif %}
                            {% endif %}</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5628470231678755642713" data-elem-id="1678755642713" data-elem-type="text" data-field-top-value="236" data-field-left-value="521" data-field-width-value="255" data-field-axisy-value="top" data-field-axisx-value="left"
                        data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-top-res-320-value="363" data-field-left-res-320-value="20" data-field-top-res-480-value="613"
                        data-field-left-res-480-value="45" data-field-top-res-640-value="604" data-field-left-res-640-value="40" data-field-top-res-960-value="887" data-field-left-res-960-value="148">
                        <div class="tn-atom" field="tn_text_1678755642713">{% if leads == None %}
                            семидневный{% else %}
                            {% if leads.title1_1 %}{% if leads.title1_3 %}
                            {{ leads.title1_3 }}{% endif %}{% endif %}
                            {% endif %}</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5628470231678761038394" data-elem-id="1678761038394" data-elem-type="text" data-field-top-value="151" data-field-left-value="521" data-field-width-value="501" data-field-axisy-value="top" data-field-axisx-value="left"
                        data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-top-res-320-value="297" data-field-left-res-320-value="20" data-field-width-res-320-value="275"
                        data-field-top-res-480-value="542" data-field-left-res-480-value="45" data-field-width-res-480-value="328" data-field-top-res-640-value="528" data-field-left-res-640-value="42" data-field-width-res-640-value="527" data-field-top-res-960-value="850"
                        data-field-left-res-960-value="150" data-field-width-res-960-value="653">
                        <div class="tn-atom" field="tn_text_1678761038394">{% if leads == None %}
                            Пройти<br>бесплатный{% else %}
                            {% if leads.title1_1 %}{{ leads.title1_1 }}{% if leads.title1_2 %}<br>
                            {{ leads.title1_2 }}{% endif %}{% else %}Пройти<br>бесплатный{% endif %}
                            {% endif %}</div></div>
                    <div class="t396__elem tn-elem tn-elem__5628470231679021602072" data-elem-id="1679021602072" data-elem-type="button" data-field-top-value="392" data-field-left-value="519" data-field-height-value="59" data-field-width-value="260" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value data-field-top-res-320-value="524" data-field-left-res-320-value="20"
                        data-field-width-res-320-value="280" data-field-top-res-480-value="779" data-field-left-res-480-value="41" data-field-top-res-640-value="756" data-field-left-res-640-value="40" data-field-top-res-960-value="1017" data-field-left-res-960-value="150"
                        data-field-width-res-960-value="270"><a class="tn-atom" href="#popup:embedcode">
                        {% if leads == None %}
                            ЗАНЯТЬ СВОЕ МЕСТО{% else %}
                            {% if leads.button %}
                            {{ leads.button }}{% else %}ЗАНЯТЬ СВОЕ МЕСТО{% endif %}
                            {% endif %}</a></div>
                    <div class="t396__elem tn-elem tn-elem__5628470231679022360671" data-elem-id="1679022360671" data-elem-type="image" data-field-top-value="60" data-field-left-value="-380"
                        data-field-width-value="200" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px"
                        data-field-filewidth-value="476" data-field-fileheight-value="202" data-field-top-res-320-value="595" data-field-left-res-320-value="120" data-field-width-res-320-value="253" data-field-top-res-640-value="99">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% static 'images/Group_117_1.png' %}" imgfield="tn_img_1679022360671"></div>
                    </div>
                </div>
            </div>
            <script>
                t_onReady(function() {
                    t_onFuncLoad('t396_init', function() {
                        t396_init('562847023');
                    });
                });
            </script>
            <!-- /T396 -->
        </div>