{% load static %}



        <div id="rec563222444" class="r t-rec" style=" " data-animationappear="off" data-record-type="396">
            <!-- T396 -->
            <style>
                #rec563222444 .t396__artboard {
                    height: 80px;
                    background-color: #f7f7f5;
                }

                #rec563222444 .t396__filter {
                    height: 80px;
                }

                #rec563222444 .t396__carrier {
                    height: 80px;
                    background-position: center center;
                    background-attachment: scroll;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                @media screen and (max-width: 1199px) {
                    #rec563222444 .t396__artboard {}
                    #rec563222444 .t396__filter {}
                    #rec563222444 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec563222444 .t396__artboard {}
                    #rec563222444 .t396__filter {}
                    #rec563222444 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec563222444 .t396__artboard {}
                    #rec563222444 .t396__filter {}
                    #rec563222444 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec563222444 .t396__artboard {
                        height: 30px;
                    }
                    #rec563222444 .t396__filter {
                        height: 30px;
                    }
                    #rec563222444 .t396__carrier {
                        height: 30px;
                        background-attachment: scroll;
                    }
                }
            </style>
            <div class="t396">
                <div class="t396__artboard" data-artboard-recid="563222444" data-artboard-screens="320,480,640,960,1200" data-artboard-height="80" data-artboard-valign="center" data-artboard-upscale="grid" data-artboard-height-res-320="30">
                    <div class="t396__carrier" data-artboard-recid="563222444"></div>
                    <div class="t396__filter" data-artboard-recid="563222444"></div>
                </div>
            </div>
            <script>
                t_onReady(function() {
                    t_onFuncLoad('t396_init', function() {
                        t396_init('563222444');
                    });
                });
            </script>
            <!-- /T396 -->
        </div>
        <div id="rec562290892" class="r t-rec" style=" " data-animationappear="off" data-record-type="396">
            <!-- T396 -->
            <style>
                #rec562290892 .t396__artboard {
                    height: 675px;
                    background-image: linear-gradient(274deg, rgba(102, 125, 88, 1) 0%, rgba(138, 169, 119, 1) 100%);
                    overflow: visible;
                }

                #rec562290892 .t396__filter {
                    height: 675px;
                }

                #rec562290892 .t396__carrier {
                    height: 675px;
                    background-position: center center;
                    background-attachment: scroll;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290892 .t396__artboard {}
                    #rec562290892 .t396__filter {}
                    #rec562290892 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290892 .t396__artboard {
                        height: 1355px;
                    }
                    #rec562290892 .t396__filter {
                        height: 1355px;
                    }
                    #rec562290892 .t396__carrier {
                        height: 1355px;
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290892 .t396__artboard {
                        height: 1295px;
                    }
                    #rec562290892 .t396__filter {
                        height: 1295px;
                    }
                    #rec562290892 .t396__carrier {
                        height: 1295px;
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290892 .t396__artboard {
                        height: 1045px;
                    }
                    #rec562290892 .t396__filter {
                        height: 1045px;
                    }
                    #rec562290892 .t396__carrier {
                        height: 1045px;
                        background-attachment: scroll;
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225699"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 4;
                    top: 80px;
                    left: calc(50% - 600px + 80px);
                    width: 531px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225699"] .tn-atom {
                    color: #ffffff;
                    font-size: 46px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 700;
                    text-transform: uppercase;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225699"] {
                        left: calc(50% - 480px + 14px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225699"] {
                        left: calc(50% - 320px + 30px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225699"] {
                        top: 90px;
                        left: calc(50% - 240px + 10px);
                        width: 375px;
                    }
                    #rec562290892 .tn-elem[data-elem-id="1678670225699"] .tn-atom {
                        font-size: 35px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225699"] {
                        top: 38px;
                        left: calc(50% - 160px + 11px);
                        width: 309px;
                    }
                    #rec562290892 .tn-elem[data-elem-id="1678670225699"] .tn-atom {
                        font-size: 36px;
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225701"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 5;
                    top: 305px;
                    left: calc(50% - 600px + 960px);
                    width: 164px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225701"] .tn-atom {
                    color: #ffffff;
                    font-size: 16px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 400;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225701"] {
                        top: 335px;
                        left: calc(50% - 480px + 700px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225701"] {
                        top: 755px;
                        left: calc(50% - 320px + 320px);
                        width: 273px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225701"] {
                        top: 710px;
                        left: calc(50% - 240px + 210px);
                        width: 256px;
                    }
                    #rec562290892 .tn-elem[data-elem-id="1678670225701"] .tn-atom {
                        font-size: 15px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225701"] {
                        top: 727px;
                        left: calc(50% - 160px + 16px);
                        width: 257px;
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225703"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 6;
                    top: 300px;
                    left: calc(50% - 600px + 440px);
                    width: 241px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225703"] .tn-atom {
                    color: #ffffff;
                    font-size: 16px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 400;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225703"] {
                        top: 275px;
                        left: calc(50% - 480px + 360px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225703"] {
                        top: 575px;
                        left: calc(50% - 320px + 40px);
                        width: 242px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225703"] {
                        top: 540px;
                        width: 228px;
                    }
                    #rec562290892 .tn-elem[data-elem-id="1678670225703"] .tn-atom {
                        font-size: 15px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225703"] {
                        top: 452px;
                        left: calc(50% - 160px + 15px);
                        width: 221px;
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225705"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 7;
                    top: 505px;
                    left: calc(50% - 600px + 690px);
                    width: 169px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225705"] .tn-atom {
                    color: #ffffff;
                    font-size: 16px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 400;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225705"] {
                        top: 510px;
                        left: calc(50% - 480px + 680px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225705"] {
                        top: 960px;
                        left: calc(50% - 320px + 60px);
                        width: 186px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225705"] {
                        top: 915px;
                        left: calc(50% - 240px + 10px);
                        width: 206px;
                    }
                    #rec562290892 .tn-elem[data-elem-id="1678670225705"] .tn-atom {
                        font-size: 15px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225705"] {
                        top: 606px;
                        left: calc(50% - 160px + 94px);
                        width: 210px;
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225708"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 8;
                    top: 470px;
                    left: calc(50% - 600px + 310px);
                    width: 252px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225708"] .tn-atom {
                    color: #ffffff;
                    font-size: 16px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 400;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225708"] {
                        top: 470px;
                        left: calc(50% - 480px + 310px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225708"] {
                        top: 1160px;
                        left: calc(50% - 320px + 268px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225708"] {
                        top: 1090px;
                        left: calc(50% - 240px + 200px);
                        width: 236px;
                    }
                    #rec562290892 .tn-elem[data-elem-id="1678670225708"] .tn-atom {
                        font-size: 15px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225708"] {
                        top: 882px;
                        left: calc(50% - 160px + 60px);
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225710"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 9;
                    top: 340px;
                    left: calc(50% - 600px + 80px);
                    width: 127px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225710"] .tn-atom {
                    color: #ffffff;
                    font-size: 16px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 400;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {}

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225710"] {
                        top: 295px;
                        left: calc(50% - 320px + 160px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225710"] {
                        top: 260px;
                        left: calc(50% - 240px + 90px);
                    }
                    #rec562290892 .tn-elem[data-elem-id="1678670225710"] .tn-atom {
                        font-size: 15px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225710"] {
                        top: 232px;
                        left: calc(50% - 160px + 30px);
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225712"] {
                    z-index: 3;
                    top: 202px;
                    left: calc(50% - 600px + -163px);
                    width: 1499px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225712"] .tn-atom {
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {}

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225712"] {
                        top: 15px;
                        left: calc(50% - 320px + -1780px);
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225712"] {
                        top: -13px;
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225716"] {
                    z-index: 10;
                    top: 394px;
                    left: calc(50% - 600px + 81px);
                    width: 20px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225716"] .tn-atom {
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225716"] {
                        top: 398px;
                        left: calc(50% - 480px + 74px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225716"] {
                        top: 311px;
                        left: calc(50% - 320px + 128px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225716"] {
                        top: 295px;
                        left: calc(50% - 240px + 70px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225716"] {
                        top: 274px;
                        left: calc(50% - 160px + 10px);
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225719"] {
                    z-index: 11;
                    top: 380px;
                    left: calc(50% - 600px + 550px);
                    width: 20px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225719"] .tn-atom {
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225719"] {
                        top: 240px;
                        left: calc(50% - 480px + 370px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225719"] {
                        top: 475px;
                        left: calc(50% - 320px + 390px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225719"] {
                        top: 460px;
                        left: calc(50% - 240px + 350px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225719"] {
                        top: 337px;
                        left: calc(50% - 160px + 90px);
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225722"] {
                    z-index: 12;
                    top: 210px;
                    left: calc(50% - 600px + 720px);
                    width: 20px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225722"] .tn-atom {
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {}

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225722"] {
                        top: 660px;
                        left: calc(50% - 320px + 120px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225722"] {
                        top: 610px;
                        left: calc(50% - 240px + 100px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225722"] {
                        top: 527px;
                        left: calc(50% - 160px + 90px);
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225725"] {
                    z-index: 13;
                    top: 545px;
                    left: calc(50% - 600px + 310px);
                    width: 20px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225725"] .tn-atom {
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225725"] {
                        top: 555px;
                        left: calc(50% - 480px + 320px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225725"] {
                        top: 1243px;
                        left: calc(50% - 320px + 338px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225725"] {
                        top: 1168px;
                        left: calc(50% - 240px + 284px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225725"] {
                        top: 957px;
                        left: calc(50% - 160px + 99px);
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225727"] {
                    z-index: 14;
                    top: 341px;
                    left: calc(50% - 600px + 940px);
                    width: 20px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225727"] .tn-atom {
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225727"] {
                        top: 365px;
                        left: calc(50% - 480px + 650px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225727"] {
                        top: 830px;
                        left: calc(50% - 320px + 340px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225727"] {
                        top: 780px;
                        left: calc(50% - 240px + 300px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225727"] {
                        top: 657px;
                        left: calc(50% - 160px + 190px);
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225731"] {
                    z-index: 15;
                    top: 475px;
                    left: calc(50% - 600px + 740px);
                    width: 20px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225731"] .tn-atom {
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225731"] {
                        top: 504px;
                        left: calc(50% - 480px + 648px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225731"] {
                        top: 1035px;
                        left: calc(50% - 320px + 160px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225731"] {
                        top: 975px;
                        left: calc(50% - 240px + 100px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225731"] {
                        top: 802px;
                        left: calc(50% - 160px + 70px);
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225734"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 16;
                    top: 136px;
                    left: calc(50% - 600px + 718px);
                    width: 204px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678670225734"] .tn-atom {
                    color: #ffffff;
                    font-size: 16px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 400;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {}

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225734"] {
                        top: 395px;
                        left: calc(50% - 320px + 380px);
                        width: 215px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225734"] {
                        top: 380px;
                        left: calc(50% - 240px + 290px);
                        width: 180px;
                    }
                    #rec562290892 .tn-elem[data-elem-id="1678670225734"] .tn-atom {
                        font-size: 15px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678670225734"] {
                        top: 292px;
                        left: calc(50% - 160px + 123px);
                        width: 182px;
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678721019386"] {
                    z-index: 17;
                    top: 218px;
                    left: calc(50% - 600px + -111px);
                    width: 450px;
                    height: 1px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678721019386"] .tn-atom {
                    background-color: #ffffff;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290892 .tn-elem[data-elem-id="1678721019386"] {
                        left: calc(50% - 480px + -181px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678721019386"] {
                        left: calc(50% - 320px + -155px);
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678721019386"] {
                        top: 189px;
                        left: calc(50% - 160px + -235px);
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678734947400"] {
                    z-index: 2;
                    top: 394px;
                    left: calc(50% - 600px + -99px);
                    width: 375px;
                    height: 375px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678734947400"] .tn-atom {
                    opacity: 0.1;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290892 .tn-elem[data-elem-id="1678734947400"] {
                        top: 398px;
                        left: calc(50% - 480px + -100px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678734947400"] {
                        top: 1152px;
                        left: calc(50% - 320px + -140px);
                        width: 300px;
                        height: 300px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290892 .tn-elem[data-elem-id="1678734947400"] {
                        top: 1120px;
                        left: calc(50% - 240px + -130px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678734947400"] {
                        top: 908px;
                        left: calc(50% - 160px + -119px);
                        width: 218px;
                        height: 218px;
                    }
                    #rec562290892 .tn-elem[data-elem-id="1678734947400"] .tn-atom {
                        -webkit-transform: rotate(7deg);
                        -moz-transform: rotate(7deg);
                        transform: rotate(7deg);
                        background-attachment: scroll;
                    }
                }

                #rec562290892 .tn-elem[data-elem-id="1678834587861"] {
                    z-index: 1;
                    top: 25px;
                    left: calc(50% - 600px + -760px);
                    width: 584px;
                }

                #rec562290892 .tn-elem[data-elem-id="1678834587861"] .tn-atom {
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {}

                @media screen and (max-width: 959px) {
                    #rec562290892 .tn-elem[data-elem-id="1678834587861"] {
                        top: 273px;
                        left: calc(50% - 320px + 0px);
                        width: 655px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290892 .tn-elem[data-elem-id="1678834587861"] {
                        top: 255px;
                        left: calc(50% - 240px + -50px);
                        width: 617px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290892 .tn-elem[data-elem-id="1678834587861"] {
                        top: 257px;
                        left: calc(50% - 160px + -61px);
                        width: 471px;
                    }
                    #rec562290892 .tn-elem[data-elem-id="1678834587861"] .tn-atom {
                        -webkit-transform: rotate(359deg);
                        -moz-transform: rotate(359deg);
                        transform: rotate(359deg);
                    }
                }
            </style>
            <div class="t396">
                <div class="t396__artboard" data-artboard-recid="562290892" data-artboard-screens="320,480,640,960,1200" data-artboard-height="675" data-artboard-valign="center" data-artboard-upscale="window" data-artboard-ovrflw="visible" data-artboard-height-res-320="1045"
                    data-artboard-upscale-res-320="grid" data-artboard-height-res-480="1295" data-artboard-height-res-640="1355">
                    <div class="t396__carrier" data-artboard-recid="562290892"></div>
                    <div class="t396__filter" data-artboard-recid="562290892"></div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678670225699 t-animate" data-elem-id="1678670225699" data-elem-type="text" data-field-top-value="80" data-field-left-value="80" data-field-width-value="531" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinleft" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="38" data-field-left-res-320-value="11" data-field-width-res-320-value="309" data-field-top-res-480-value="90" data-field-left-res-480-value="10" data-field-width-res-480-value="375"
                        data-field-left-res-640-value="30" data-field-left-res-960-value="14">
                        <h2 class="tn-atom" field="tn_text_1678670225699">Занятия с&nbsp;нами помогут:</h2>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678670225701 t-animate" data-elem-id="1678670225701" data-elem-type="text" data-field-top-value="305" data-field-left-value="960" data-field-width-value="164" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="727" data-field-left-res-320-value="16" data-field-width-res-320-value="257" data-field-top-res-480-value="710" data-field-left-res-480-value="210" data-field-width-res-480-value="256"
                        data-field-top-res-640-value="755" data-field-left-res-640-value="320" data-field-width-res-640-value="273" data-field-top-res-960-value="335" data-field-left-res-960-value="700">
                        <div class="tn-atom" field="tn_text_1678670225701">{% if advantages.title5 %}{{ advantages.title5 }}{% else %}Обрести знания и&nbsp;инструменты для&nbsp;управления своим состоянием{% endif %}</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678670225703 t-animate" data-elem-id="1678670225703" data-elem-type="text" data-field-top-value="300" data-field-left-value="440" data-field-width-value="241" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="452" data-field-left-res-320-value="15" data-field-width-res-320-value="221" data-field-top-res-480-value="540" data-field-width-res-480-value="228"
                        data-field-top-res-640-value="575" data-field-left-res-640-value="40" data-field-width-res-640-value="242" data-field-top-res-960-value="275" data-field-left-res-960-value="360">
                        <div class="tn-atom" field="tn_text_1678670225703">{% if advantages.title3 %}{{ advantages.title3 }}{% else %}Развивать в себе внутренние качества, раскрыть сильные стороны{% endif %}</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678670225705 t-animate" data-elem-id="1678670225705" data-elem-type="text" data-field-top-value="505" data-field-left-value="690" data-field-width-value="169" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="606" data-field-left-res-320-value="94" data-field-width-res-320-value="210" data-field-top-res-480-value="915" data-field-left-res-480-value="10" data-field-width-res-480-value="206"
                        data-field-top-res-640-value="960" data-field-left-res-640-value="60" data-field-width-res-640-value="186" data-field-top-res-960-value="510" data-field-left-res-960-value="680">
                        <div class="tn-atom" field="tn_text_1678670225705">{% if advantages.title4 %}{{ advantages.title4 }}{% else %}Улучшить свое тело. Оно станет сильным и гибким{% endif %}</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678670225708 t-animate" data-elem-id="1678670225708" data-elem-type="text" data-field-top-value="470" data-field-left-value="310" data-field-width-value="252" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="882" data-field-left-res-320-value="60" data-field-top-res-480-value="1090" data-field-left-res-480-value="200" data-field-width-res-480-value="236"
                        data-field-top-res-640-value="1160" data-field-left-res-640-value="268" data-field-top-res-960-value="470" data-field-left-res-960-value="310">
                        <div class="tn-atom" field="tn_text_1678670225708">{% if advantages.title6 %}{{ advantages.title6 }}{% else %}Чувствовать себя заряженным, энергичным, вдохновленным весь день{% endif %}</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678670225710 t-animate" data-elem-id="1678670225710" data-elem-type="text" data-field-top-value="340" data-field-left-value="80" data-field-width-value="127" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="232" data-field-left-res-320-value="30" data-field-top-res-480-value="260" data-field-left-res-480-value="90" data-field-top-res-640-value="295" data-field-left-res-640-value="160">
                        <div class="tn-atom" field="tn_text_1678670225710">{% if advantages.title1 %}{{ advantages.title1 }}{% else %}Оздоровить свой организм{% endif %}</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678670225712" data-elem-id="1678670225712" data-elem-type="image" data-field-top-value="202" data-field-left-value="-163" data-field-width-value="1499" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-filewidth-value="6003" data-field-fileheight-value="1559"
                        data-field-top-res-320-value="-13" data-field-top-res-640-value="15" data-field-left-res-640-value="-1780">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% static 'images/b43e0bcc-dd1d-4239-b.svg' %}" imgfield="tn_img_1678670225712"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678670225716" data-elem-id="1678670225716" data-elem-type="image" data-field-top-value="394" data-field-left-value="81" data-field-width-value="20" data-field-axisy-value="top" data-field-axisx-value="left"
                        data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-filewidth-value="80" data-field-fileheight-value="80" data-field-top-res-320-value="274"
                        data-field-left-res-320-value="10" data-field-top-res-480-value="295" data-field-left-res-480-value="70" data-field-top-res-640-value="311" data-field-left-res-640-value="128" data-field-top-res-960-value="398" data-field-left-res-960-value="74">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% static 'images/41fb35bc-a271-409c-a.svg' %}" imgfield="tn_img_1678670225716"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678670225719" data-elem-id="1678670225719" data-elem-type="image" data-field-top-value="380" data-field-left-value="550" data-field-width-value="20" data-field-axisy-value="top" data-field-axisx-value="left"
                        data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-filewidth-value="80" data-field-fileheight-value="80" data-field-top-res-320-value="337"
                        data-field-left-res-320-value="90" data-field-top-res-480-value="460" data-field-left-res-480-value="350" data-field-top-res-640-value="475" data-field-left-res-640-value="390" data-field-top-res-960-value="240" data-field-left-res-960-value="370">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% static 'images/e28a019d-9d47-4955-8.svg' %}" imgfield="tn_img_1678670225719"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678670225722" data-elem-id="1678670225722" data-elem-type="image" data-field-top-value="210" data-field-left-value="720" data-field-width-value="20" data-field-axisy-value="top" data-field-axisx-value="left"
                        data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-filewidth-value="80" data-field-fileheight-value="80" data-field-top-res-320-value="527"
                        data-field-left-res-320-value="90" data-field-top-res-480-value="610" data-field-left-res-480-value="100" data-field-top-res-640-value="660" data-field-left-res-640-value="120">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% static 'images/44171533-398f-4ec9-8.svg' %}" imgfield="tn_img_1678670225722"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678670225725" data-elem-id="1678670225725" data-elem-type="image" data-field-top-value="545" data-field-left-value="310" data-field-width-value="20" data-field-axisy-value="top" data-field-axisx-value="left"
                        data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-filewidth-value="80" data-field-fileheight-value="80" data-field-top-res-320-value="957"
                        data-field-left-res-320-value="99" data-field-top-res-480-value="1168" data-field-left-res-480-value="284" data-field-top-res-640-value="1243" data-field-left-res-640-value="338" data-field-top-res-960-value="555" data-field-left-res-960-value="320">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% static 'images/c98429aa-2770-4ce3-b.svg' %}" imgfield="tn_img_1678670225725"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678670225727" data-elem-id="1678670225727" data-elem-type="image" data-field-top-value="341" data-field-left-value="940" data-field-width-value="20" data-field-axisy-value="top" data-field-axisx-value="left"
                        data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-filewidth-value="80" data-field-fileheight-value="80" data-field-top-res-320-value="657"
                        data-field-left-res-320-value="190" data-field-top-res-480-value="780" data-field-left-res-480-value="300" data-field-top-res-640-value="830" data-field-left-res-640-value="340" data-field-top-res-960-value="365" data-field-left-res-960-value="650">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% static 'images/af2e9532-647a-4aea-9.svg' %}" imgfield="tn_img_1678670225727"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678670225731" data-elem-id="1678670225731" data-elem-type="image" data-field-top-value="475" data-field-left-value="740" data-field-width-value="20" data-field-axisy-value="top" data-field-axisx-value="left"
                        data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-filewidth-value="80" data-field-fileheight-value="80" data-field-top-res-320-value="802"
                        data-field-left-res-320-value="70" data-field-top-res-480-value="975" data-field-left-res-480-value="100" data-field-top-res-640-value="1035" data-field-left-res-640-value="160" data-field-top-res-960-value="504" data-field-left-res-960-value="648">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% static 'images/cf5fe495-7b44-40c8-9.svg' %}" imgfield="tn_img_1678670225731"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678670225734 t-animate" data-elem-id="1678670225734" data-elem-type="text" data-field-top-value="136" data-field-left-value="718" data-field-width-value="204" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="292" data-field-left-res-320-value="123" data-field-width-res-320-value="182" data-field-top-res-480-value="380" data-field-left-res-480-value="290"
                        data-field-width-res-480-value="180" data-field-top-res-640-value="395" data-field-left-res-640-value="380" data-field-width-res-640-value="215">
                        <div class="tn-atom" field="tn_text_1678670225734">{% if advantages.title2 %}{{ advantages.title2 }}{% else %}Избавиться от&nbsp;стресса и&nbsp;тревог. Развивать уверенность в&nbsp;себе{% endif %}
                            </div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678721019386" data-elem-id="1678721019386" data-elem-type="shape" data-field-top-value="218" data-field-left-value="-111" data-field-height-value="1" data-field-width-value="450" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="189" data-field-left-res-320-value="-235"
                        data-field-left-res-640-value="-155" data-field-left-res-960-value="-181">
                        <div class="tn-atom"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678734947400" data-elem-id="1678734947400" data-elem-type="shape" data-field-top-value="394" data-field-left-value="-99" data-field-height-value="375" data-field-width-value="375" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="908" data-field-left-res-320-value="-119"
                        data-field-height-res-320-value="218" data-field-width-res-320-value="218" data-field-top-res-480-value="1120" data-field-left-res-480-value="-130" data-field-top-res-640-value="1152" data-field-left-res-640-value="-140" data-field-height-res-640-value="300"
                        data-field-width-res-640-value="300" data-field-top-res-960-value="398" data-field-left-res-960-value="-100">
                        <div class="tn-atom t-bgimg" data-original="{% static 'images/image_15_Traced.png' %}" style="background-image:url(&#x27;{% static 'images/image_15_Traced.png' %}&#x27;);"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622908921678834587861" data-elem-id="1678834587861" data-elem-type="image" data-field-top-value="25" data-field-left-value="-760" data-field-width-value="584" data-field-axisy-value="top" data-field-axisx-value="left"
                        data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-filewidth-value="584" data-field-fileheight-value="883" data-field-top-res-320-value="257"
                        data-field-left-res-320-value="-61" data-field-width-res-320-value="471" data-field-top-res-480-value="255" data-field-left-res-480-value="-50" data-field-width-res-480-value="617" data-field-top-res-640-value="273" data-field-left-res-640-value="0"
                        data-field-width-res-640-value="655">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% static 'images/Vector_31.svg' %}" imgfield="tn_img_1678834587861"></div>
                    </div>
                </div>
            </div>
            <script>
                t_onFuncLoad('t396_initialScale', function() {
                    t396_initialScale('562290892');
                });
                t_onReady(function() {
                    t_onFuncLoad('t396_init', function() {
                        t396_init('562290892');
                    });
                });
            </script>
            <!-- /T396 -->
        </div>
