{% load static %}


        <div id="rec562621503" class="r t-rec" style=" " data-animationappear="off" data-record-type="396">
            <!-- T396 -->
            <style>
                #rec562621503 .t396__artboard {
                    height: 1655px;
                    background-image: linear-gradient(120deg, rgba(209, 189, 171, 1) 0%, rgba(174, 147, 125, 1) 32%, rgba(169, 142, 119, 1) 63%, rgba(169, 142, 119, 1) 100%);
                }

                #rec562621503 .t396__filter {
                    height: 1655px;
                }

                #rec562621503 .t396__carrier {
                    height: 1655px;
                    background-position: center center;
                    background-attachment: scroll;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                @media screen and (max-width: 1199px) {
                    #rec562621503 .t396__artboard {
                        height: 1715px;
                    }
                    #rec562621503 .t396__filter {
                        height: 1715px;
                    }
                    #rec562621503 .t396__carrier {
                        height: 1715px;
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562621503 .t396__artboard {
                        height: 1085px;
                    }
                    #rec562621503 .t396__filter {
                        height: 1085px;
                    }
                    #rec562621503 .t396__carrier {
                        height: 1085px;
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562621503 .t396__artboard {
                        height: 2025px;
                    }
                    #rec562621503 .t396__filter {
                        height: 2025px;
                    }
                    #rec562621503 .t396__carrier {
                        height: 2025px;
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562621503 .t396__artboard {
                        height: 1715px;
                    }
                    #rec562621503 .t396__filter {
                        height: 1715px;
                    }
                    #rec562621503 .t396__carrier {
                        height: 1715px;
                        background-attachment: scroll;
                    }
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134796"] {
                    z-index: 5;
                    top: 61px;
                    left: calc(50% - 600px + -174px);
                    width: 1484px;
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134796"] .tn-atom {
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134796"] {
                        top: 178px;
                        left: calc(50% - 480px + -159px);
                        width: 1272px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134796"] {
                        top: 170px;
                        left: calc(50% - 320px + 860px);
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {}

                #rec562621503 .tn-elem[data-elem-id="1678716134799"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 6;
                    top: 63px;
                    left: calc(50% - 600px + 36px);
                    width: 485px;
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134799"] .tn-atom {
                    color: #ffffff;
                    font-size: 42px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 700;
                    text-transform: uppercase;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {}

                @media screen and (max-width: 959px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134799"] {
                        left: calc(50% - 320px + 78px);
                    }
                    #rec562621503 .tn-elem[data-elem-id="1678716134799"] {
                        text-align: center;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134799"] {
                        width: 455px;
                    }
                    #rec562621503 .tn-elem[data-elem-id="1678716134799"] .tn-atom {
                        font-size: 35px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134799"] {
                        top: 45px;
                        left: calc(50% - 160px + 9px);
                        width: 299px;
                    }
                    #rec562621503 .tn-elem[data-elem-id="1678716134799"] .tn-atom {
                        font-size: 30px;
                    }
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134849"] {
                    z-index: 3;
                    top: 1186px;
                    left: calc(50% - 600px + -80px);
                    width: 278px;
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134849"] .tn-atom {
                    opacity: 0.1;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134849"] {
                        top: 1185px;
                        left: calc(50% - 480px + -50px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134849"] {
                        top: 1680px;
                        left: calc(50% - 320px + -50px);
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134849"] {
                        top: 1400px;
                        left: calc(50% - 160px + -440px);
                    }
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134851"] {
                    z-index: 2;
                    top: 113px;
                    left: calc(50% - 600px + -218px);
                    width: 294px;
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134851"] .tn-atom {
                    opacity: 0.1;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134851"] {
                        top: 178px;
                        left: calc(50% - 480px + -146px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134851"] {
                        top: 232px;
                        left: calc(50% - 320px + -135px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134851"] {
                        top: 232px;
                        left: calc(50% - 240px + -135px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134851"] {
                        top: 222px;
                    }
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134854"] {
                    z-index: 1;
                    top: 681px;
                    left: calc(50% - 600px + 1029px);
                    width: 144px;
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134854"] .tn-atom {
                    opacity: 0.1;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134854"] {
                        top: 685px;
                        left: calc(50% - 480px + 860px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134854"] {
                        top: 723px;
                        left: calc(50% - 320px + 550px);
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134854"] {
                        top: 1115px;
                    }
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134840"] {
                    z-index: 11;
                    top: 676px;
                    left: calc(50% - 600px + 42px);
                    width: 350px;
                    height: 420px;
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134840"] .tn-atom {
                    border-radius: 16px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    border-style: solid;
                    box-shadow: 6px 16px 36px 0px rgba(137, 112, 91, 1);
                }

                @media screen and (max-width: 1199px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134840"] {
                        top: 715px;
                        left: calc(50% - 480px + 12px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134840"] {
                        top: 469px;
                        left: calc(50% - 320px + 41px);
                        width: 197px;
                        height: 236px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134840"] {
                        top: 794px;
                        left: calc(50% - 240px + 64px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134840"] {
                        top: 662px;
                        left: calc(50% - 160px + 30px);
                        width: 259px;
                        height: 311px;
                    }
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134801"] {
                    z-index: 8;
                    top: 920px;
                    left: calc(50% - 600px + 422px);
                    width: 346px;
                    height: 160px;
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134801"] .tn-atom {
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134801"] {
                        top: 975px;
                        left: calc(50% - 480px + 412px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134801"] {
                        top: 479px;
                        left: calc(50% - 320px + 270px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134801"] {
                        top: 1253px;
                        left: calc(50% - 240px + 65px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134801"] {
                        top: 1175px;
                        left: calc(50% - 160px + 0px);
                    }
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134837"] {
                    z-index: 7;
                    top: 179px;
                    left: calc(50% - 600px + 416px);
                    width: 350px;
                    height: 420px;
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134837"] .tn-atom {
                    border-radius: 15px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    border-style: solid;
                    box-shadow: 6px 16px 16px 0px rgba(137, 112, 91, 1);
                }

                @media screen and (max-width: 1199px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134837"] {
                        top: 159px;
                        left: calc(50% - 480px + 239px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134837"] {
                        top: 179px;
                        left: calc(50% - 320px + 41px);
                        width: 195px;
                        height: 234px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134837"] {
                        top: 145px;
                        left: calc(50% - 240px + 64px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134837"] {
                        top: 120px;
                        left: calc(50% - 160px + 30px);
                        width: 259px;
                        height: 310px;
                    }
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134846"] {
                    z-index: 9;
                    top: 1148px;
                    left: calc(50% - 600px + 790px);
                    width: 379px;
                    height: 420px;
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134846"] .tn-atom {
                    border-radius: 16px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    border-style: solid;
                    box-shadow: 6px 16px 36px 0px rgba(137, 112, 91, 1);
                }

                @media screen and (max-width: 1199px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134846"] {
                        top: 1229px;
                        left: calc(50% - 480px + 570px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134846"] {
                        top: 755px;
                        left: calc(50% - 320px + 41px);
                        width: 194px;
                        height: 233px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134846"] {
                        top: 1434px;
                        left: calc(50% - 240px + 64px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134846"] {
                        top: 1202px;
                        left: calc(50% - 160px + 30px);
                        width: 259px;
                        height: 311px;
                    }
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134817"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 13;
                    top: 467px;
                    left: calc(50% - 600px + 806px);
                    width: 321px;
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134817"] .tn-atom {
                    color: #ffffff;
                    font-size: 16px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 400;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134817"] {
                        top: 469px;
                        left: calc(50% - 480px + 639px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134817"] {
                        top: 255px;
                        left: calc(50% - 320px + 270px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134817"] {
                        top: 619px;
                        left: calc(50% - 240px + 64px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134817"] {
                        top: 493px;
                        left: calc(50% - 160px + 21px);
                        width: 284px;
                    }
                    #rec562621503 .tn-elem[data-elem-id="1678716134817"] {
                        text-align: left;
                    }
                    #rec562621503 .tn-elem[data-elem-id="1678716134817"] .tn-atom {
                        font-size: 14px;
                    }
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134815"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 14;
                    top: 423px;
                    left: calc(50% - 600px + 806px);
                    width: 201px;
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134815"] .tn-atom {
                    color: #ffffff;
                    font-size: 24px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 600;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134815"] {
                        top: 420px;
                        left: calc(50% - 480px + 639px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134815"] {
                        top: 207px;
                        left: calc(50% - 320px + 270px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134815"] {
                        top: 575px;
                        left: calc(50% - 240px + 64px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134815"] {
                        top: 455px;
                        left: calc(50% - 160px + 61px);
                    }
                    #rec562621503 .tn-elem[data-elem-id="1678716134815"] {
                        text-align: center;
                    }
                    #rec562621503 .tn-elem[data-elem-id="1678716134815"] .tn-atom {
                        font-size: 20px;
                    }
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134804"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 15;
                    top: 920px;
                    left: calc(50% - 600px + 432px);
                    width: 227px;
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134804"] .tn-atom {
                    color: #ffffff;
                    font-size: 24px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 600;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134804"] {
                        top: 975px;
                        left: calc(50% - 480px + 412px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134804"] {
                        top: 485px;
                        left: calc(50% - 320px + 270px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134804"] {
                        top: 1224px;
                        left: calc(50% - 240px + 64px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134804"] {
                        top: 997px;
                        left: calc(50% - 160px + 48px);
                    }
                    #rec562621503 .tn-elem[data-elem-id="1678716134804"] {
                        text-align: center;
                    }
                    #rec562621503 .tn-elem[data-elem-id="1678716134804"] .tn-atom {
                        font-size: 20px;
                    }
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134806"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 18;
                    top: 964px;
                    left: calc(50% - 600px + 432px);
                    width: 346px;
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134806"] .tn-atom {
                    color: #ffffff;
                    font-size: 16px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 400;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134806"] {
                        top: 1025px;
                        left: calc(50% - 480px + 412px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134806"] {
                        top: 549px;
                        left: calc(50% - 320px + 270px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134806"] {
                        top: 1268px;
                        left: calc(50% - 240px + 64px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134806"] {
                        top: 1035px;
                        left: calc(50% - 160px + 22px);
                        width: 283px;
                    }
                    #rec562621503 .tn-elem[data-elem-id="1678716134806"] {
                        text-align: left;
                    }
                    #rec562621503 .tn-elem[data-elem-id="1678716134806"] .tn-atom {
                        font-size: 14px;
                    }
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134830"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 19;
                    top: 1480px;
                    left: calc(50% - 600px + 397px);
                    width: 353px;
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134830"] .tn-atom {
                    color: #ffffff;
                    font-size: 16px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 400;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134830"] {
                        top: 1583px;
                        left: calc(50% - 480px + 167px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134830"] {
                        top: 860px;
                        left: calc(50% - 320px + 270px);
                        width: 257px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134830"] {
                        top: 1908px;
                        left: calc(50% - 240px + 64px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134830"] {
                        top: 1578px;
                        left: calc(50% - 160px + 18px);
                        width: 297px;
                    }
                    #rec562621503 .tn-elem[data-elem-id="1678716134830"] {
                        text-align: left;
                    }
                    #rec562621503 .tn-elem[data-elem-id="1678716134830"] .tn-atom {
                        font-size: 14px;
                    }
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134828"] {
                    color: #ffffff;
                    text-align: LEFT;
                    z-index: 21;
                    top: 1436px;
                    left: calc(50% - 600px + 397px);
                    width: 343px;
                }

                #rec562621503 .tn-elem[data-elem-id="1678716134828"] .tn-atom {
                    color: #ffffff;
                    font-size: 24px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 600;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134828"] {
                        top: 1533px;
                        left: calc(50% - 480px + 167px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134828"] {
                        top: 781px;
                        left: calc(50% - 320px + 270px);
                        width: 280px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134828"] {
                        top: 1864px;
                        left: calc(50% - 240px + 64px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562621503 .tn-elem[data-elem-id="1678716134828"] {
                        top: 1540px;
                        left: calc(50% - 160px + -21px);
                        width: 362px;
                    }
                    #rec562621503 .tn-elem[data-elem-id="1678716134828"] {
                        text-align: center;
                    }
                    #rec562621503 .tn-elem[data-elem-id="1678716134828"] .tn-atom {
                        font-size: 20px;
                    }
                }
            </style>
            <div class="t396">
                <div class="t396__artboard" data-artboard-recid="562621503" data-artboard-screens="320,480,640,960,1200" data-artboard-height="1655" data-artboard-valign="center" data-artboard-upscale="window" data-artboard-height-res-320="1715" data-artboard-upscale-res-320="grid"
                    data-artboard-height-res-480="2025" data-artboard-height-res-640="1085" data-artboard-height-res-960="1715">
                    <div class="t396__carrier" data-artboard-recid="562621503"></div>
                    <div class="t396__filter" data-artboard-recid="562621503"></div>
                    <div class="t396__elem tn-elem tn-elem__5626215031678716134796" data-elem-id="1678716134796" data-elem-type="image" data-field-top-value="61" data-field-left-value="-174" data-field-width-value="1484" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-filewidth-value="1400" data-field-fileheight-value="1640"
                        data-field-top-res-640-value="170" data-field-left-res-640-value="860" data-field-top-res-960-value="178" data-field-left-res-960-value="-159" data-field-width-res-960-value="1272">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% static 'images/4444.svg' %}" imgfield="tn_img_1678716134796"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5626215031678716134799 t-animate" data-elem-id="1678716134799" data-elem-type="text" data-field-top-value="63" data-field-left-value="36" data-field-width-value="485" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinleft" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="45" data-field-left-res-320-value="9" data-field-width-res-320-value="299" data-field-width-res-480-value="455" data-field-left-res-640-value="78">
                        <div class="tn-atom" field="tn_text_1678716134799">Преподаватели</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5626215031678716134849" data-elem-id="1678716134849" data-elem-type="image" data-field-top-value="1186" data-field-left-value="-80" data-field-width-value="278" data-field-axisy-value="top" data-field-axisx-value="left"
                        data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-filewidth-value="271" data-field-fileheight-value="280" data-field-top-res-320-value="1400"
                        data-field-left-res-320-value="-440" data-field-top-res-640-value="1680" data-field-left-res-640-value="-50" data-field-top-res-960-value="1185" data-field-left-res-960-value="-50">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% static 'images/88888.svg' %}" imgfield="tn_img_1678716134849"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5626215031678716134851" data-elem-id="1678716134851" data-elem-type="image" data-field-top-value="113" data-field-left-value="-218" data-field-width-value="294" data-field-axisy-value="top" data-field-axisx-value="left"
                        data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-filewidth-value="396" data-field-fileheight-value="395" data-field-top-res-320-value="222"
                        data-field-top-res-480-value="232" data-field-left-res-480-value="-135" data-field-top-res-640-value="232" data-field-left-res-640-value="-135" data-field-top-res-960-value="178" data-field-left-res-960-value="-146">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% static 'images/6666.svg' %}" imgfield="tn_img_1678716134851"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5626215031678716134854" data-elem-id="1678716134854" data-elem-type="image" data-field-top-value="681" data-field-left-value="1029" data-field-width-value="144" data-field-axisy-value="top" data-field-axisx-value="left"
                        data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-field-filewidth-value="193" data-field-fileheight-value="189" data-field-top-res-320-value="1115"
                        data-field-top-res-640-value="723" data-field-left-res-640-value="550" data-field-top-res-960-value="685" data-field-left-res-960-value="860">
                        <div class="tn-atom"><img class="tn-atom__img t-img" data-original="{% static 'images/77777.svg' %}" imgfield="tn_img_1678716134854"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5626215031678716134840 t-animate" data-elem-id="1678716134840" data-elem-type="shape" data-field-top-value="676" data-field-left-value="42" data-field-height-value="420" data-field-width-value="350"
                        data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-animate-style="zoomin"
                        data-animate-duration="1" data-animate-scale="0.9" data-animate-mobile="y" data-field-top-res-320-value="662" data-field-left-res-320-value="30" data-field-height-res-320-value="311" data-field-width-res-320-value="259" data-field-top-res-480-value="794"
                        data-field-left-res-480-value="64" data-field-top-res-640-value="469" data-field-left-res-640-value="41" data-field-height-res-640-value="236" data-field-width-res-640-value="197" data-field-top-res-960-value="715" data-field-left-res-960-value="12">
                        <div class="tn-atom t-bgimg" data-original="{% static 'images/1V4A0026_2_1.png' %}" style="background-image:url(&#x27;{% static 'images/1V4A0026_2_1.png' %}&#x27;);"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5626215031678716134801" data-elem-id="1678716134801" data-elem-type="shape" data-field-top-value="920" data-field-left-value="422" data-field-height-value="160" data-field-width-value="346" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="1175" data-field-left-res-320-value="0"
                        data-field-top-res-480-value="1253" data-field-left-res-480-value="65" data-field-top-res-640-value="479" data-field-left-res-640-value="270" data-field-top-res-960-value="975" data-field-left-res-960-value="412">
                        <div class="tn-atom"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5626215031678716134837 t-animate" data-elem-id="1678716134837" data-elem-type="shape" data-field-top-value="179" data-field-left-value="416" data-field-height-value="420" data-field-width-value="350"
                        data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-animate-style="zoomin"
                        data-animate-duration="1" data-animate-scale="0.9" data-animate-mobile="y" data-field-top-res-320-value="120" data-field-left-res-320-value="30" data-field-height-res-320-value="310" data-field-width-res-320-value="259" data-field-top-res-480-value="145"
                        data-field-left-res-480-value="64" data-field-top-res-640-value="179" data-field-left-res-640-value="41" data-field-height-res-640-value="234" data-field-width-res-640-value="195" data-field-top-res-960-value="159" data-field-left-res-960-value="239">
                        <div class="tn-atom t-bgimg" data-original="{% static 'images/Rectangle_9.png' %}" style="background-image:url(&#x27;{% static 'images/Rectangle_9.png' %}&#x27;);"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5626215031678716134846 t-animate" data-elem-id="1678716134846" data-elem-type="shape" data-field-top-value="1148" data-field-left-value="790" data-field-height-value="420" data-field-width-value="379"
                        data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-animate-style="zoomin"
                        data-animate-duration="1" data-animate-scale="0.9" data-animate-mobile="y" data-field-top-res-320-value="1202" data-field-left-res-320-value="30" data-field-height-res-320-value="311" data-field-width-res-320-value="259" data-field-top-res-480-value="1434"
                        data-field-left-res-480-value="64" data-field-top-res-640-value="755" data-field-left-res-640-value="41" data-field-height-res-640-value="233" data-field-width-res-640-value="194" data-field-top-res-960-value="1229" data-field-left-res-960-value="570">
                        <div class="tn-atom t-bgimg" data-original="{% static 'images/1M7A4924_1.png' %}" style="background-image:url(&#x27;{% static 'images/1M7A4924_1.png' %}&#x27;);"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5626215031678716134817 t-animate" data-elem-id="1678716134817" data-elem-type="text" data-field-top-value="467" data-field-left-value="806" data-field-width-value="321" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="1"
                        data-animate-delay="0.2" data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="493" data-field-left-res-320-value="21" data-field-width-res-320-value="284" data-field-top-res-480-value="619" data-field-left-res-480-value="64"
                        data-field-top-res-640-value="255" data-field-left-res-640-value="270" data-field-top-res-960-value="469" data-field-left-res-960-value="639">
                        <div class="tn-atom" field="tn_text_1678716134817">Сертифицированный преподаватель йоги и медитации, обучался и преподавал йогу в Индии, Индонезии (Бали) и России, (сертификат международного Йога Альянса RYT 200 часов, Индия)</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5626215031678716134815 t-animate" data-elem-id="1678716134815" data-elem-type="text" data-field-top-value="423" data-field-left-value="806" data-field-width-value="201" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinleft" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="455" data-field-left-res-320-value="61" data-field-top-res-480-value="575" data-field-left-res-480-value="64" data-field-top-res-640-value="207" data-field-left-res-640-value="270"
                        data-field-top-res-960-value="420" data-field-left-res-960-value="639">
                        <div class="tn-atom" field="tn_text_1678716134815">Антон Бедарев</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5626215031678716134804 t-animate" data-elem-id="1678716134804" data-elem-type="text" data-field-top-value="920" data-field-left-value="432" data-field-width-value="227" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinleft" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="997" data-field-left-res-320-value="48" data-field-top-res-480-value="1224" data-field-left-res-480-value="64" data-field-top-res-640-value="485" data-field-left-res-640-value="270"
                        data-field-top-res-960-value="975" data-field-left-res-960-value="412">
                        <div class="tn-atom" field="tn_text_1678716134804">Ирина Бедарева</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5626215031678716134806 t-animate" data-elem-id="1678716134806" data-elem-type="text" data-field-top-value="964" data-field-left-value="432" data-field-width-value="346" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="1"
                        data-animate-delay="0.2" data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="1035" data-field-left-res-320-value="22" data-field-width-res-320-value="283" data-field-top-res-480-value="1268" data-field-left-res-480-value="64"
                        data-field-top-res-640-value="549" data-field-left-res-640-value="270" data-field-top-res-960-value="1025" data-field-left-res-960-value="412">
                        <div class="tn-atom" field="tn_text_1678716134806">Сертифицированный преподаватель йоги и медитации, обучалась и преподавала йогу в Казахстане, Индии, Индонезии (Бали) и России, (сертификат международного Йога Альянса RYT 500 часов, Индия)</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5626215031678716134830 t-animate" data-elem-id="1678716134830" data-elem-type="text" data-field-top-value="1480" data-field-left-value="397" data-field-width-value="353" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="1"
                        data-animate-delay="0.2" data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="1578" data-field-left-res-320-value="18" data-field-width-res-320-value="297" data-field-top-res-480-value="1908" data-field-left-res-480-value="64"
                        data-field-top-res-640-value="860" data-field-left-res-640-value="270" data-field-width-res-640-value="257" data-field-top-res-960-value="1583" data-field-left-res-960-value="167">
                        <div class="tn-atom" field="tn_text_1678716134830">Сертифицированный преподаватель йоги и&nbsp;медитации. Обучался в&nbsp;Индии и&nbsp;России. Прожил в&nbsp;индийском ашраме 2 года.</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5626215031678716134828 t-animate" data-elem-id="1678716134828" data-elem-type="text" data-field-top-value="1436" data-field-left-value="397" data-field-width-value="343" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinleft" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="1540" data-field-left-res-320-value="-21" data-field-width-res-320-value="362" data-field-top-res-480-value="1864" data-field-left-res-480-value="64"
                        data-field-top-res-640-value="781" data-field-left-res-640-value="270" data-field-width-res-640-value="280" data-field-top-res-960-value="1533" data-field-left-res-960-value="167">
                        <div class="tn-atom" field="tn_text_1678716134828">Станислав Вертоградский</div>
                    </div>
                </div>
            </div>
            <script>
                t_onFuncLoad('t396_initialScale', function() {
                    t396_initialScale('562621503');
                });
                t_onReady(function() {
                    t_onFuncLoad('t396_init', function() {
                        t396_init('562621503');
                    });
                });
            </script>
            <!-- /T396 -->
        </div>