{% load static %}




    <div id="rec569198771" class="r t-rec" style=" " data-animationappear="off" data-record-type="868">
        <!-- t868 -->
        <div class="t868">
            <div class="t-popup" data-tooltip-hook="#popup:embed2450" role="dialog" aria-modal="true" tabindex="-1">
                <div class="t-popup__container t-width t-width_10">
                    <div class="t868__code-wrap">

                        <script id="b2acd11affbb987ab8cf6b443a05a0827aa7d2b7" src="https://ymclub.getcourse.ru/pl/lite/widget/script?id=872756"></script>

                    </div>
                </div>
                <div class="t-popup__close t-popup__block-close"><button type="button" class="t-popup__close-wrapper t-popup__block-close-button" aria-label="Закрыть диалог"><svg role="presentation" class="t-popup__close-icon" width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="#fff" fill-rule="evenodd"><rect transform="translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) " x="10.3137085" y="-3.6862915" width="2" height="30"/><rect transform="translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) " x="10.3137085" y="-3.6862915" width="2" height="30"/></g></svg></button></div>
            </div>
        </div>
        <script>
            t_onReady(function() {
                setTimeout(function() {
                    t_onFuncLoad('t868_initPopup', function() {
                        t868_initPopup('569198771');
                    });
                }, 500);
            });
        </script>
    </div>