{% load static %}


        <div id="rec562290176" class="r t-rec" style=" " data-animationappear="off" data-record-type="396">
            <!-- T396 -->
            <style>
                #rec562290176 .t396__artboard {
                    height: 416px;
                    background-color: #f7f7f5;
                }

                #rec562290176 .t396__filter {
                    height: 416px;
                }

                #rec562290176 .t396__carrier {
                    height: 416px;
                    background-position: center center;
                    background-attachment: scroll;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290176 .t396__artboard {
                        height: 411px;
                    }
                    #rec562290176 .t396__filter {
                        height: 411px;
                    }
                    #rec562290176 .t396__carrier {
                        height: 411px;
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290176 .t396__artboard {
                        height: 1170px;
                    }
                    #rec562290176 .t396__filter {
                        height: 1170px;
                    }
                    #rec562290176 .t396__carrier {
                        height: 1170px;
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290176 .t396__artboard {}
                    #rec562290176 .t396__filter {}
                    #rec562290176 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290176 .t396__artboard {
                        height: 1270px;
                    }
                    #rec562290176 .t396__filter {
                        height: 1270px;
                    }
                    #rec562290176 .t396__carrier {
                        height: 1270px;
                        background-attachment: scroll;
                    }
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325642"] {
                    z-index: 29;
                    top: 23px;
                    left: calc(50% - 600px + 101px);
                    width: 288px;
                    height: 217px;
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325642"] .tn-atom {
                    border-radius: 10px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325642"] {
                        top: 23px;
                        left: calc(50% - 480px + 34px);
                        width: 255px;
                        height: 192px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325642"] {
                        top: 32px;
                        left: calc(50% - 320px + 91px);
                        width: 460px;
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325642"] {
                        left: calc(50% - 160px + 33px);
                        width: 254px;
                    }
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325632"] {
                    color: #575757;
                    text-align: LEFT;
                    z-index: 28;
                    top: 290px;
                    left: calc(50% - 600px + 103px);
                    width: 285px;
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325632"] .tn-atom {
                    color: #575757;
                    font-size: 14px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 400;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325632"] {
                        top: 265px;
                        left: calc(50% - 480px + 34px);
                        width: 240px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325632"] {
                        top: 276px;
                        left: calc(50% - 320px + 93px);
                        width: 433px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325632"] .tn-atom {
                        font-size: 15px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325632"] {
                        top: 280px;
                        left: calc(50% - 160px + 33px);
                        width: 266px;
                    }
                    #rec562290176 .tn-elem[data-elem-id="1678667325632"] {
                        color: #707070;
                    }
                    #rec562290176 .tn-elem[data-elem-id="1678667325632"] .tn-atom {
                        color: #707070;
                        font-size: 14px;
                    }
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325629"] {
                    color: #1c2424;
                    text-align: LEFT;
                    z-index: 27;
                    top: 260px;
                    left: calc(50% - 600px + 103px);
                    width: 131px;
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325629"] .tn-atom {
                    color: #1c2424;
                    font-size: 18px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 600;
                    text-transform: uppercase;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325629"] {
                        top: 235px;
                        left: calc(50% - 480px + 34px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325629"] {
                        top: 246px;
                        left: calc(50% - 320px + 93px);
                        width: 236px;
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325629"] {
                        left: calc(50% - 160px + 33px);
                    }
                    #rec562290176 .tn-elem[data-elem-id="1678667325629"] .tn-atom {
                        font-size: 20px;
                    }
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325621"] {
                    z-index: 26;
                    top: 3px;
                    left: calc(50% - 600px + 80px);
                    width: 330px;
                    height: 410px;
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325621"] .tn-atom {
                    border-radius: 15px;
                    background-color: #ffffff;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325621"] {
                        top: 1px;
                        left: calc(50% - 480px + 11px);
                        width: 300px;
                        height: 410px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325621"] {
                        top: 10px;
                        left: calc(50% - 320px + 50px);
                        width: 541px;
                        height: 363px;
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325621"] {
                        top: 5px;
                        left: calc(50% - 160px + 10px);
                        width: 299px;
                        height: 394px;
                    }
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325648"] {
                    z-index: 39;
                    top: 22px;
                    left: calc(50% - 600px + 457px);
                    width: 286px;
                    height: 218px;
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325648"] .tn-atom {
                    border-radius: 16px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325648"] {
                        top: 23px;
                        left: calc(50% - 480px + 354px);
                        width: 255px;
                        height: 192px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325648"] {
                        top: 428px;
                        left: calc(50% - 320px + 90px);
                        width: 460px;
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325648"] {
                        top: 451px;
                        left: calc(50% - 160px + 33px);
                        width: 254px;
                    }
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325591"] {
                    color: #575757;
                    text-align: LEFT;
                    z-index: 38;
                    top: 290px;
                    left: calc(50% - 600px + 457px);
                    width: 282px;
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325591"] .tn-atom {
                    color: #575757;
                    font-size: 14px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 400;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325591"] {
                        top: 265px;
                        left: calc(50% - 480px + 354px);
                        width: 246px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325591"] {
                        top: 670px;
                        left: calc(50% - 320px + 90px);
                        width: 462px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325591"] .tn-atom {
                        font-size: 15px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325591"] {
                        top: 697px;
                        left: calc(50% - 160px + 32px);
                        width: 255px;
                    }
                    #rec562290176 .tn-elem[data-elem-id="1678667325591"] {
                        color: #707070;
                    }
                    #rec562290176 .tn-elem[data-elem-id="1678667325591"] .tn-atom {
                        color: #707070;
                        font-size: 14px;
                    }
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325589"] {
                    color: #1c2424;
                    text-align: LEFT;
                    z-index: 37;
                    top: 260px;
                    left: calc(50% - 600px + 457px);
                    width: 155px;
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325589"] .tn-atom {
                    color: #1c2424;
                    font-size: 18px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 600;
                    text-transform: uppercase;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325589"] {
                        top: 235px;
                        left: calc(50% - 480px + 354px);
                        width: 152px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325589"] {
                        top: 640px;
                        left: calc(50% - 320px + 90px);
                        width: 274px;
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325589"] {
                        top: 663px;
                        left: calc(50% - 160px + 32px);
                    }
                    #rec562290176 .tn-elem[data-elem-id="1678667325589"] .tn-atom {
                        font-size: 20px;
                    }
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325567"] {
                    z-index: 36;
                    top: 3px;
                    left: calc(50% - 600px + 435px);
                    width: 330px;
                    height: 410px;
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325567"] .tn-atom {
                    border-radius: 15px;
                    background-color: #ffffff;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325567"] {
                        top: 1px;
                        left: calc(50% - 480px + 331px);
                        width: 300px;
                        height: 410px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325567"] {
                        top: 406px;
                        left: calc(50% - 320px + 50px);
                        width: 541px;
                        height: 360px;
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325567"] {
                        top: 425px;
                        left: calc(50% - 160px + 10px);
                        width: 299px;
                        height: 410px;
                    }
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325645"] {
                    z-index: 35;
                    top: 22px;
                    left: calc(50% - 600px + 812px);
                    width: 286px;
                    height: 218px;
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325645"] .tn-atom {
                    border-radius: 16px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325645"] {
                        top: 23px;
                        left: calc(50% - 480px + 674px);
                        width: 255px;
                        height: 192px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325645"] {
                        top: 822px;
                        left: calc(50% - 320px + 93px);
                        width: 460px;
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325645"] {
                        top: 884px;
                        left: calc(50% - 160px + 33px);
                        width: 254px;
                    }
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325612"] {
                    color: #575757;
                    text-align: LEFT;
                    z-index: 34;
                    top: 290px;
                    left: calc(50% - 600px + 812px);
                    width: 275px;
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325612"] .tn-atom {
                    color: #575757;
                    font-size: 14px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 400;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325612"] {
                        top: 265px;
                        left: calc(50% - 480px + 674px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325612"] {
                        top: 1064px;
                        left: calc(50% - 320px + 90px);
                        width: 407px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325612"] {
                        width: 241px;
                    }
                    #rec562290176 .tn-elem[data-elem-id="1678667325612"] .tn-atom {
                        font-size: 15px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325612"] {
                        top: 1130px;
                        left: calc(50% - 160px + 32px);
                        width: 242px;
                    }
                    #rec562290176 .tn-elem[data-elem-id="1678667325612"] {
                        color: #707070;
                    }
                    #rec562290176 .tn-elem[data-elem-id="1678667325612"] .tn-atom {
                        color: #707070;
                        font-size: 14px;
                    }
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325610"] {
                    color: #1c2424;
                    text-align: LEFT;
                    z-index: 33;
                    top: 260px;
                    left: calc(50% - 600px + 812px);
                    width: 160px;
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325610"] .tn-atom {
                    color: #1c2424;
                    font-size: 18px;
                    font-family: 'Montserrat', Arial, sans-serif;
                    line-height: 1.40;
                    font-weight: 600;
                    text-transform: uppercase;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325610"] {
                        top: 235px;
                        left: calc(50% - 480px + 674px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325610"] {
                        top: 1034px;
                        left: calc(50% - 320px + 90px);
                        width: 289px;
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325610"] {
                        top: 1096px;
                        left: calc(50% - 160px + 32px);
                    }
                    #rec562290176 .tn-elem[data-elem-id="1678667325610"] .tn-atom {
                        font-size: 20px;
                    }
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325603"] {
                    z-index: 32;
                    top: 3px;
                    left: calc(50% - 600px + 790px);
                    width: 330px;
                    height: 410px;
                }

                #rec562290176 .tn-elem[data-elem-id="1678667325603"] .tn-atom {
                    border-radius: 15px;
                    background-color: #ffffff;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325603"] {
                        top: 1px;
                        left: calc(50% - 480px + 651px);
                        width: 300px;
                        height: 410px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325603"] {
                        top: 800px;
                        left: calc(50% - 320px + 50px);
                        width: 541px;
                        height: 346px;
                    }
                }

                @media screen and (max-width: 639px) {}

                @media screen and (max-width: 479px) {
                    #rec562290176 .tn-elem[data-elem-id="1678667325603"] {
                        top: 861px;
                        left: calc(50% - 160px + 10px);
                        width: 299px;
                        height: 369px;
                    }
                }
            </style>
            <div class="t396">
                <div class="t396__artboard" data-artboard-recid="562290176" data-artboard-screens="320,480,640,960,1200" data-artboard-height="416" data-artboard-valign="center" data-artboard-upscale="window" data-artboard-height-res-320="1270" data-artboard-upscale-res-320="grid"
                    data-artboard-height-res-640="1170" data-artboard-height-res-960="411">
                    <div class="t396__carrier" data-artboard-recid="562290176"></div>
                    <div class="t396__filter" data-artboard-recid="562290176"></div>
                    <div class="t396__elem tn-elem tn-elem__5622901761678667325642" data-elem-id="1678667325642" data-elem-type="shape" data-field-top-value="23" data-field-left-value="101" data-field-height-value="217" data-field-width-value="288"
                        data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-left-res-320-value="33"
                        data-field-width-res-320-value="254" data-field-top-res-640-value="32" data-field-left-res-640-value="91" data-field-width-res-640-value="460" data-field-top-res-960-value="23" data-field-left-res-960-value="34" data-field-height-res-960-value="192"
                        data-field-width-res-960-value="255">
                        <div class="tn-atom t-bgimg" data-original="{% static 'images/1V4A9180_1.png' %}" style="background-image:url(&#x27;{% static 'images/1V4A9180_1.png' %}&#x27;);"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622901761678667325632 t-animate" data-elem-id="1678667325632" data-elem-type="text" data-field-top-value="290" data-field-left-value="103" data-field-width-value="285" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="1"
                        data-animate-delay="0.2" data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="280" data-field-left-res-320-value="33" data-field-width-res-320-value="266" data-field-top-res-640-value="276" data-field-left-res-640-value="93"
                        data-field-width-res-640-value="433" data-field-top-res-960-value="265" data-field-left-res-960-value="34" data-field-width-res-960-value="240">
                        <div class="tn-atom" field="tn_text_1678667325632">Вы&nbsp;занимаетесь онлайн с&nbsp;удобством там, где вам комфортно, в&nbsp;любой точке земного шара, имея интернет и&nbsp;гаджет</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622901761678667325629 t-animate" data-elem-id="1678667325629" data-elem-type="text" data-field-top-value="260" data-field-left-value="103" data-field-width-value="131" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinleft" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-left-res-320-value="33" data-field-top-res-640-value="246" data-field-left-res-640-value="93" data-field-width-res-640-value="236" data-field-top-res-960-value="235" data-field-left-res-960-value="34">
                        <div class="tn-atom" field="tn_text_1678667325629">Удобство</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622901761678667325621" data-elem-id="1678667325621" data-elem-type="shape" data-field-top-value="3" data-field-left-value="80" data-field-height-value="410" data-field-width-value="330" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="5" data-field-left-res-320-value="10"
                        data-field-height-res-320-value="394" data-field-width-res-320-value="299" data-field-top-res-640-value="10" data-field-left-res-640-value="50" data-field-height-res-640-value="363" data-field-width-res-640-value="541" data-field-top-res-960-value="1"
                        data-field-left-res-960-value="11" data-field-height-res-960-value="410" data-field-width-res-960-value="300">
                        <div class="tn-atom"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622901761678667325648" data-elem-id="1678667325648" data-elem-type="shape" data-field-top-value="22" data-field-left-value="457" data-field-height-value="218" data-field-width-value="286" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="451" data-field-left-res-320-value="33"
                        data-field-width-res-320-value="254" data-field-top-res-640-value="428" data-field-left-res-640-value="90" data-field-width-res-640-value="460" data-field-top-res-960-value="23" data-field-left-res-960-value="354" data-field-height-res-960-value="192"
                        data-field-width-res-960-value="255">
                        <div class="tn-atom t-bgimg" data-original="{% static 'images/1V4A8788_1_1.png' %}" style="background-image:url(&#x27;{% static 'images/1V4A8788_1_1.png' %}&#x27;);"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622901761678667325591 t-animate" data-elem-id="1678667325591" data-elem-type="text" data-field-top-value="290" data-field-left-value="457" data-field-width-value="282" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="1"
                        data-animate-delay="0.2" data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="697" data-field-left-res-320-value="32" data-field-width-res-320-value="255" data-field-top-res-640-value="670" data-field-left-res-640-value="90"
                        data-field-width-res-640-value="462" data-field-top-res-960-value="265" data-field-left-res-960-value="354" data-field-width-res-960-value="246">
                        <div class="tn-atom" field="tn_text_1678667325591">Мотивация и&nbsp;дисциплина, которую мы&nbsp;даём ребятам в&nbsp;клубе, помогает им&nbsp;развиваться во&nbsp;всех сферах жизни и&nbsp;менять её&nbsp;к&nbsp;лучшему</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622901761678667325589 t-animate" data-elem-id="1678667325589" data-elem-type="text" data-field-top-value="260" data-field-left-value="457" data-field-width-value="155" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinleft" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="663" data-field-left-res-320-value="32" data-field-top-res-640-value="640" data-field-left-res-640-value="90" data-field-width-res-640-value="274" data-field-top-res-960-value="235"
                        data-field-left-res-960-value="354" data-field-width-res-960-value="152">
                        <div class="tn-atom" field="tn_text_1678667325589">Мотивация</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622901761678667325567" data-elem-id="1678667325567" data-elem-type="shape" data-field-top-value="3" data-field-left-value="435" data-field-height-value="410" data-field-width-value="330" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="425" data-field-left-res-320-value="10"
                        data-field-height-res-320-value="410" data-field-width-res-320-value="299" data-field-top-res-640-value="406" data-field-left-res-640-value="50" data-field-height-res-640-value="360" data-field-width-res-640-value="541" data-field-top-res-960-value="1"
                        data-field-left-res-960-value="331" data-field-height-res-960-value="410" data-field-width-res-960-value="300">
                        <div class="tn-atom"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622901761678667325645" data-elem-id="1678667325645" data-elem-type="shape" data-field-top-value="22" data-field-left-value="812" data-field-height-value="218" data-field-width-value="286" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="884" data-field-left-res-320-value="33"
                        data-field-width-res-320-value="254" data-field-top-res-640-value="822" data-field-left-res-640-value="93" data-field-width-res-640-value="460" data-field-top-res-960-value="23" data-field-left-res-960-value="674" data-field-height-res-960-value="192"
                        data-field-width-res-960-value="255">
                        <div class="tn-atom t-bgimg" data-original="{% static 'images/MK_07932_1.png' %}" style="background-image:url(&#x27;{% static 'images/MK_07932_1.png' %}&#x27;);"></div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622901761678667325612 t-animate" data-elem-id="1678667325612" data-elem-type="text" data-field-top-value="290" data-field-left-value="812" data-field-width-value="275" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="1"
                        data-animate-delay="0.2" data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="1130" data-field-left-res-320-value="32" data-field-width-res-320-value="242" data-field-width-res-480-value="241" data-field-top-res-640-value="1064"
                        data-field-left-res-640-value="90" data-field-width-res-640-value="407" data-field-top-res-960-value="265" data-field-left-res-960-value="674">
                        <div class="tn-atom" field="tn_text_1678667325612">Комьюнити единомышленников из более чем 25 стран и городов и поддержка.</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622901761678667325610 t-animate" data-elem-id="1678667325610" data-elem-type="text" data-field-top-value="260" data-field-left-value="812" data-field-width-value="160" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-style="fadeinleft" data-animate-duration="1"
                        data-animate-distance="100" data-animate-mobile="y" data-field-top-res-320-value="1096" data-field-left-res-320-value="32" data-field-top-res-640-value="1034" data-field-left-res-640-value="90" data-field-width-res-640-value="289"
                        data-field-top-res-960-value="235" data-field-left-res-960-value="674">
                        <div class="tn-atom" field="tn_text_1678667325610">Комьюнити</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5622901761678667325603" data-elem-id="1678667325603" data-elem-type="shape" data-field-top-value="3" data-field-left-value="790" data-field-height-value="410" data-field-width-value="330" data-field-axisy-value="top"
                        data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="861" data-field-left-res-320-value="10"
                        data-field-height-res-320-value="369" data-field-width-res-320-value="299" data-field-top-res-640-value="800" data-field-left-res-640-value="50" data-field-height-res-640-value="346" data-field-width-res-640-value="541" data-field-top-res-960-value="1"
                        data-field-left-res-960-value="651" data-field-height-res-960-value="410" data-field-width-res-960-value="300">
                        <div class="tn-atom"></div>
                    </div>
                </div>
            </div>
            <script>
                t_onFuncLoad('t396_initialScale', function() {
                    t396_initialScale('562290176');
                });
                t_onReady(function() {
                    t_onFuncLoad('t396_init', function() {
                        t396_init('562290176');
                    });
                });
            </script>
            <!-- /T396 -->
        </div>
